.grv-box-container{
  width: 100%;
  //border: 1px solid #e7eaec!important;
  background-color: white;  
  padding: 15px;

  .grv-box-header{    
    h3{
      font-size: 16px;
      margin: 0;
    }

    .grv-line-solid{
      margin: 10px 0px 15px 0px;
    }
    
    .grv-box-header-controls{
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
    }
  }

  .grv-box-content{    
    background-color: inherit;
    color: inherit;    
    border-color: #e7eaec;        
  }

  .grv-box-header-size{
    font-size: 18px;
  }
}

