[Unit]
Description=Teleport VNet D-Bus service
After=dbus.service
Requires=dbus.service

[Service]
Type=dbus
BusName=org.teleport.vnet1
Environment=TELEPORT_TOOLS_VERSION=off
ExecStart=/opt/Teleport\x20Connect/resources/bin/tsh vnet-daemon
User=root
Group=root
