# GHA workflows and custom actions control merging and CI/CD processes.
# Protect the `.github` directory using CODEOWNERS.
/.github/ @klizhentas @russjones @r0mant @zmb3 @mjsmithnh @doggydogworld @rosstimothy
/.environments/ @klizhentas @russjones @r0mant @mjsmithnh @doggydogworld


# Owners for Go dependency updates.
/tooling/os-package-repo-tool/go.mod @russjones @r0mant @zmb3 @rosstimothy @mjsmithnh @doggydogworld

# Internal Tools files
/tooling/ @russjones @r0mant @mjsmithnh @doggydogworld
/.sops.yaml @russjones @r0mant @mjsmithnh @doggydogworld
/scripts/check-unencrypted-sops.sh @russjones @r0mant @mjsmithnh @doggydogworld
/scripts/configure-git.sh @russjones @r0mant @mjsmithnh @doggydogworld
/scripts/shared-pre-commit.sh @russjones @r0mant @mjsmithnh @doggydogworld

# Owners for Rust dependency updates.
/windowsauth/Cargo.toml @russjones @r0mant @zmb3 @rosstimothy @fspmarshall @espadolini @probakowski
