terraform {
  required_providers {
    teleport = {
      version = "9.1.3"
      source  = "terraform.releases.teleport.dev/gravitational/teleport"
    }
  }
}

# Terraform Provider configuration. See provider.go for available options
provider "teleport" {
  # Path to Teleport identity file
  identity_file_path = "/tmp/terraform-identity"

  # Teleport proxy addr
  addr = "teleport.example.com:443"
}
