# Default owners for items not matched below.
* @klizhentas @russjones @r0mant

# Documentation.
/docs/ @inertial-frame @klizhentas @russjones
/docs/pages/application-access/ @inertial-frame @klizhentas @r0mant @russjones
/docs/pages/database-access/ @inertial-frame @klizhentas @r0mant @russjones

# Frontend Engineering.
/lib/web/ @alex-kovoy @russjones @r0mant
/webassets/ @alex-kovoy @russjones @r0mant
