# Default owners for items not matched below.
* @klizhentas @russjones

# Release Engineering.
/assets/ @webvictim @russjones @awly
/build.assets/ @webvictim @russjones @awly
/docker/ @webvictim @russjones @awly
/examples/ @webvictim @russjones @awly
/vagrant/ @webvictim @russjones @awly
.drone.yml @webvictim @russjones @awly

# Product.
*.md @benarent @webvictim
/docs/ @benarent @webvictim

# Backend Engineering.
/*.go @klizhentas @russjones @fspmarshall @webvictim @awly
/e/ @klizhentas @russjones @fspmarshall @webvictim @awly
/fixtures/ @klizhentas @russjones @fspmarshall @webvictim @awly
/integration/ @klizhentas @russjones @fspmarshall @webvictim @awly
/lib/ @klizhentas @russjones @fspmarshall @webvictim @awly
/modules/ @klizhentas @russjones @fspmarshall @webvictim @awly
/tool/ @klizhentas @russjones @fspmarshall @webvictim @awly
/vendor/ @klizhentas @russjones @fspmarshall @webvictim @awly

# Frontend Engineering.
/lib/web/ @alex-kovoy @russjones @fspmarshall @webvictim @awly @kimlisa
/web/ @alex-kovoy @kimlisa
