[submodule "e"]
	path = e
	url = git@github.com:gravitational/teleport.e.git
[submodule "examples/chart/teleport-demo/secrets"]
	path = examples/chart/teleport-demo/secrets
	url = git@github.com:gravitational/ops.git
[submodule "webapps"]
	path = webapps
	url = git@github.com:gravitational/webapps.git
