gitref.go

# built web assets
web/dist/app/app

# Compiled binaries, Object files, Static and Dynamic libs (Shared Objects)
out
build
*.o#
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
.bash_history

_testmain.go

*.exe
*.test
*.prof
flymake*
