# The pnpm team releases new versions pretty often and we don't need to stay
# at the freshest version at all times.
update-notifier=false
# ESLint editor integrations expect ESLint's binary to be in the root node_modules.
public-hoist-pattern[]=eslint
