@import "grv-vars";
@import "grv-invite";
@import "grv-login";
@import "grv-logo";
@import "grv-nodes";
@import "grv-sessions";
@import "grv-nav";
@import "grv-current-session";
@import "grv-page-notfound";
@import "grv-slider";
@import "grv-session-player";
@import "grv-terminal";
@import "grv-dialog-select-node";

.grv {
  background-color: white;
  #app {
    height: 100%;
  }
  .grv-spinner.sk-spinner-three-bounce {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .grv-page {
    margin-left: 60px;
    padding: 0 5%;
  }
}

.grv-circle {
  margin: 0 auto;
  height: 30px;
  width: 30px;
  display: block;
  background: #1ab394;
  padding: 9px 8px;
  text-align: center;
  color: #fff;
  border-radius: 50%;

  span {
    display: block;
    left: 0;
    height: 1em;
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 14px;
    margin-top: -.5em;
  }
}

.grv-rounded{
  border-radius: 10px
}

.grv-flex {
  display: flex;
}

.grv-flex-column {
  flex-direction: column;
  flex: 1;
}

.grv-table-indicator-sort{
  margin-left: 5px;
}
