@import "grv-invite";
@import "grv-login";

.grv-logo-tprt{
  color: white;
  margin-top: 5%;
  margin: 0 auto;
  width: 67px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/web/app/assets/img/grv-tlpt-logo.png");
}

.grv-google-auth{
  text-align: initial;
  position: relative;
  margin: 15px 0 0 0;
  padding: 0 0 0 70px;

  .grv-google-auth-icon{
    position: absolute;
    left: 15px;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/web/app/assets/img/authenticator-icon.png");
  }
}

.grv {
  min-width: 1024px;
  .grv-spinner.sk-spinner-three-bounce{
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.grv-flex{
  display: flex;
}

.grv-flex-column{
  flex-direction: column;
  flex: 1;
}
