.grv-nav{
  //height: 100%;
  background-color: #2f4050;
  max-width: 70px;

  .nav {

    > li.active{
      border: none;
      background-color: #293846;
    }

    li:hover{
    }

    li:first-child{
      margin: 20px 0 15px 0;
    }

    .fa{
      font-size: 20px;
    }
  }

}
