.grv-terminalhost-indicator-error{
  justify-content: center;
  display: flex;
  align-items: center;
  color: $gray-lighter;
  height: 100%;
  margin-top: -25px;
  margin: 0 auto;
  max-width: 600px;
}

.grv-terminalhost{
  padding: 40px 25px 10px 90px;
  position: fixed;
  height: 100%;
  width: 100%;
  display: block;
  background-color: $grv-color-bg-term;
  z-index: 1;
}

.grv-terminal-actions{
  margin-left: -70px;
  width: 50px;
  position: absolute;
  display: flex;
  height: calc(100% - 60px);
  flex-direction: column;

  .grv-terminal-actions-files {
    align-self: center;
    padding-top: 15px;

    &.--isOpen {
      .grv-terminal-actions-files-btn{
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .grv-terminal-actions-files-btn {
      border-radius: 20px;
      width: 30px;
      height: 30px;
      background-color: $navy;
      color: white;
      display: flex;
      align-Items: center;
      justify-content: center;

      &:hover{
        background-color: darken($navy, 5%);
      }
    }
  }

  .grv-terminal-actions-participans{
    flex: 1;
  }

  .grv-icon-close{
    fill: $red;
    &:hover{
      fill: darken($red, 2%);
      cursor: pointer;
    }
  }

  .grv-divider{
    background-color: #3B3838;
    border-color: #3B3838;
  }
}

.grv-terminalhost-server-info{
  height: 30px;
  margin-top: -35px;
  text-align: center;
  overflow: hidden;
  color: $gray-light;
  span{
    margin-left: 5px
  }

  .btn{
    padding: 0 10px;
    margin-bottom: 5px;
  }
}