 .grv-login{

   margin-top: 5%;

   .grv-content{
     padding: 15px;
     width: 400px;
     z-index: 100;
     margin: 0 auto;
     margin-top: 20px;
     border-radius: 6px;
     background-color: #ffffff;

     .grv-flex-column{
       padding: 15px;
     }
   }
 }
