 .grv-terminal-host{
   padding: 50px 60px;
   padding-left: 130px;
   position: fixed;
   height: 100%;
   width: 100%;
   display: block;
   background-color: $grv-color-bg-term;
   z-index: 1;
 }

.grv-terminal-participans{
  margin-left: -100px;
  width: 50px;
  position: absolute;

  .nav {
    text-align: center;

    > li{
      margin: 15px 0;
    }
  }
}

.grv-terminal {
  height: 100%;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  //background-color: #234424;
  .terminal{
    border: none;
    font-size: inherit;
  }
}
