.grv-nodes{

  h1{
    text-align: center;
  }

  .grv-search{
    margin-top: 20px;
  }

  .grv-header{
    align-items: center;
  }

  .grv-nodes-table{
    .label {
      margin-right: 5px;
    }
  }
}
