.grv-invite{

  background-color: #2f4050;
  padding-top: 5%;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;

  .grv-content{
    padding: 15px;
    width: 600px;
    z-index: 100;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 6px;
    background-color: #ffffff;

    .grv-invite-input-form{
      margin-bottom: 35px;
      h3{
        margin-bottom: 20px;
      }
    }

    .grv-invite-barcode{
      min-width: 1px;
    }

    .grv-flex-column{
      padding: 15px;
    }
  }
}
