{{- /*gotype: github.com/gravitational/teleport/e2e/runner.TeleportConfig */ -}}
version: v3
teleport:
  nodename: {{ .ClusterName }}
  auth_token: foo
  data_dir: {{ .DataDir }}
  log:
    output: stderr
    severity: {{ .LogLevel }}
    format:
      output: text
  auth_server: localhost:{{ .AuthServerPort }}

auth_service:
  enabled: "yes"
  listen_addr: 0.0.0.0:{{ .AuthServerPort }}
  proxy_listener_mode: multiplex
  cluster_name: {{ .ClusterName }}
  tokens:
    - "node,auth,proxy,db,trusted_cluster:foo"
{{- if .LicenseFile }}
  license_file: {{ .LicenseFile }}
{{- end }}
  authentication:
    type: local
    second_factors: ["webauthn"]
    webauthn:
      rp_id: "localhost"

ssh_service:
  enabled: "no"

proxy_service:
  enabled: "yes"
  public_addr: localhost:{{ .ProxyPort }}
  acme: {}
  web_listen_addr: 0.0.0.0:{{ .ProxyPort }}
  https_keypairs:
    - key_file: {{ .KeyFilePath }}
      cert_file: {{ .CertFilePath }}
