[Unit]
Description=Docker Application Container Engine
After=network.target docker.socket 
Requires=docker.socket 

[Service]
Type=notify
Restart=always
RestartSec=5
ExecStart=/usr/bin/docker daemon -H fd:// 
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
