#status-bar {position:fixed;top:0;left:0;right:0;padding:6px 0;text-align:center;font-size:14px;color:#ffeddf;background:#ffa258;z-index:9999;}
#status-bar strong {font-family:"Colfax Medium", Helvetica;color:#fff;}

#upper-body a.teleport-logo {margin:0 auto;display:block;width:70px;}
#upper-body a.teleport-logo img {max-width:70px;margin-top:35px;  background-color: transparent;}
#upper-body h1 {margin-bottom:10px;}
#upper-body h2.first {margin-bottom:0;}

#download {margin:60px auto;}
#download li {display:inline-block;width:45%;margin:0 15px;}
#download li:first-child {text-align:right;}
#download li:nth-child(2) {text-align:left;}

#value-prop {margin:80px auto -30px auto;border-bottom:1px solid #f0f4f5;padding-bottom:50px;}
#value-prop p {max-width:400px;margin:0 auto;font-size:90%;line-height:170%;}
#value-prop h4, div.github h4 {color:#3d73ba;text-transform:none;letter-spacing:0;font-size:100%;}
#value-prop li {display:inline-block;vertical-align:top;width:25%;margin:0 20px;}

a.button {border:2px solid #3d73ba;-moz-border-radius:200px;-webkit-border-radius:200px;border-radius:200px;padding:13px 65px;font-size:18px;}
a.button:hover {background:#3d73ba;color:#fff;}

#get-started {text-align:center;border-top:1px solid #f0f4f5;padding-top:40px;}

#quickstart, #installation {display:none;}
#quickstart, #installation, #overview {padding-top:50px;}

div.github {margin:30px 0;display:block;}
div.github img {float:left;max-width:60px;margin-right:15px;}
div.github a p {color:#cfd0d1;font-size:14px;line-height:20px;margin-top:-8px;}

#newsletter {background:#fafbfc;border-top:1px solid #f0f4f5;padding:20px 0;margin-bottom:-40px;margin-top:40px;text-align:center;}
#newsletter label {margin-right:15px;color:#3e3a47;}
#newsletter input[type=email] {border:1px solid #c9d8ec;font-size:14px;padding:8px 10px;width:300px;}
#newsletter input[type=email]:focus {outline:none;border-color:#b6c4d6;}
#newsletter input[type=submit] {background:#3d73ba;color:#fff;border:none;font-size:14px;padding:8px 18px;margin-left:10px;}
#newsletter input[type=submit]:hover {cursor:pointer;}
#newsletter input[type=email], #newsletter input[type=submit] {font-family:"Colfax Regular";}

.documents-body {width:65%;padding-left:30%;}
.documents-body strong {font-family:"Colfax Medium", Helvetica;}
.documents-body img {max-width:70%;margin:15px auto;text-align:center;}
.documents-body h1 {margin-bottom:7px;}
.documents-body h2 {padding:0;margin:0;font-family:"Colfax Medium", Helvetica;color:#56585a;margin-top:15px;}
.documents-body h3 {font-size:18px;font-family:"Colfax Medium", Helvetica;color:#56585a;margin-bottom:0;}
.documents-body h4 {font-size:16px;font-family:"Colfax Medium", Helvetica;color:#56585a;text-transform:none;margin-bottom:0;letter-spacing:0;}
.documents-body p {margin-bottom:15px;}
.documents-body ul {}
.documents-body li {list-style:circle;margin-left:35px;}
.documents-body a.button {margin-top:30px;float:right;margin-bottom:40px;}
.documents-body p a {border-bottom:1px solid #b1c7e3;}
.documents-body p a:hover {border-bottom:1px solid #3d73ba;}
.documents-body table {border:1px solid #ddd;}
.documents-body table thead {background:#ddd;padding:5px 10px;}
.documents-body table tr {border-bottom:1px solid #ddd;}
.documents-body table tr, .documents-body table td {padding:5px 10px;}
.documents-body table td {border-right:1px solid #ddd;}
.documents-body table tr:nth-child(even) {background:#f6f6f6;}
.documents-body table thead th {padding:5px 10px;}
.documents-body ol {margin:20px 0;}
.documents-body ol li {list-style-type:decimal;}
.documents-body ol li ul li {list-style-type:disc;}

pre {
    font: 14px monospace;
    line-height: 1.5;
    margin-bottom: 1.5em
}
code {
    font-size: 14px;
    background:#f1f1f1;
    padding:2px 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    margin-bottom:35px;
}

.sidebar ul {display:block;background:#f0f1f8;}
.sidebar ul li {border-top:1px solid #d9dae7;}
.sidebar ul li:first-child {border-top:0}
.sidebar ul a {padding:8px 15px;display:block;}
.sidebar ul a:hover {background:#e4e5ef;}
.sidebar ul li.active a {background:#e4e5ef;}

/* Theme overrides
-------------------------------------------------------------- */

a:visited{
  color:#3362a0;
}

/* Navigation Left Panel Overrides
-------------------------------------------------------------- */

.wy-nav-content-wrap .wy-nav-top a:visited {
  color: white;  
}

.wy-body-for-nav{
  background-image: none;
}

.wy-nav-side{
  background-color: white;
}

.wy-menu-vertical header {
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0 1.618em;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
    color: #2980B9;
    white-space: nowrap
}

.wy-menu-vertical ul {
    margin-bottom: 0
}

.wy-menu-vertical li.divide-top {
    border-top: solid 1px #404040
}

.wy-menu-vertical li.divide-bottom {
    border-bottom: solid 1px #404040
}

.wy-menu-vertical li.current {
    background: #e3e3e3
}

.wy-menu-vertical li.current a {
    color: #3d73ba;
    border-right: none;
}

.wy-menu-vertical li.current a:hover {
    background: #d6d6d6
}

.wy-menu-vertical li.on a,.wy-menu-vertical li.current>a {
    color: #3d73ba;
    padding: 0.4045em 1.618em;
    font-weight: bold;
    position: relative;
    background: #fcfcfc;
    border: none;
    border-bottom: solid 1px #c9c9c9;
    border-top: solid 1px #c9c9c9;
    padding-left: 1.618em -4px
}

.wy-menu-vertical li.on a:hover,.wy-menu-vertical li.current>a:hover {
    background: #fcfcfc
}

.wy-menu-vertical li.toctree-l2.current>a {
    background: #c9c9c9;
}

.wy-menu-vertical li.current ul {
    display: block
}

.wy-menu-vertical li ul {
    margin-bottom: 0;
    display: none
}

.wy-menu-vertical .local-toc li ul {
    display: block
}

.wy-menu-vertical li ul li a {
    margin-bottom: 0;
    color: #b3b3b3;
    font-weight: normal
}

.wy-menu-vertical a {
    display: inline-block;
    line-height: 28px;
    display: block;
    position: relative;
    font-size: 100%;
    color: #818284
}

.wy-menu-vertical a:hover {
    background-color: #d6d6d6;
    cursor: pointer
}

.wy-menu-vertical a:active {
    background-color: #2980B9;
    cursor: pointer;
    color: #fff
}

/* Navigation Search Overrides
-------------------------------------------------------------- */
.wy-side-nav-search {
    z-index: 200;
    background-color: white;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #818284;
    margin-bottom: 10px;
}

.wy-side-nav-search input[type=text] {
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #2472a4;
    color: #818284;
    box-shadow: none;
}

.wy-side-nav-search img {
    display: block;
    margin: auto;
    height: 75px;
    width: 75px;
    background-color: transparent;
    padding: 5px;
    border-radius: 100%
}

.wy-side-nav-search>a,.wy-side-nav-search .wy-dropdown>a {
    color: inherit;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0;
}

.wy-side-nav-search>a:hover,.wy-side-nav-search .wy-dropdown>a:hover {
    background: rgba(255,255,255,0.1)
}


/* Fonts + Animations
------------------*/
@font-face {
    font-family: "Colfax Regular";
    src: url(../fonts/Colfax-Regular.ttf);
}

@font-face {
    font-family: "Colfax Medium";
    src: url(../fonts/Colfax-Medium.ttf);
}

@font-face {
    font-family: "Colfax Bold";
    src: url(../fonts/Colfax-Bold.ttf);
}

@-webkit-keyframes load
{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes load {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes load {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* size of the content area */
div.wy-nav-content { max-width: 1000px; }
.rst-content table.docutils td { overflow: hidden; white-space: normal }

h3 { margin: 0 0; color: #3d73ba; width: 100% }

.wy-menu-vertical li ul li a { font-size: 90% }
.wy-nav-content { padding-left: 20px; padding-top: 10px; padding-right: 20px; }
div[role=navigation] hr { margin: 10px 0px }

div.admonition {
    border-radius: 4px;
}
div.admonition p.admonition-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.admonition.danger {
    color: #c57317;
}
.admonition.tip {
    background-color: #e1eff2;
}
.admonition.tip p.admonition-title {
    background-color: #6eabb6;
}


div[role=contentinfo] {
	padding: 20px 0px 0px 0px;
	width: 100%;
	overflow: hidden;
	margin: 10px 0px 0px 0px;
	background-color: #f0f1f8;
}

div[role=contentinfo] ul {
    display: flex;
    padding: 0px;
}
div[role=contentinfo] a {
    text-decoration: underline;
}
div[role=contentinfo] p {
    line-height: 2.2em;
    font-size: 13px;
    margin-bottom: 0px;
}

div[role=contentinfo] ul, ol, dl {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}
div[role=contentinfo] li.double {
	padding: 0px 0 125px 0;
}

div[role=contentinfo] li {
	display: inline-block;
	margin: auto;
	width: 25%;
	min-height: 60px;
	max-height: 60px;
	vertical-align: middle;
	text-align: center;
	border-right: 1px dotted #dadaea;
	padding: 170px 0;
}
div[role=contentinfo]  img.footer-talk {
	width: 70px;
}
div[role=contentinfo] li.contact {
	background: url(../img/bridge.svg) no-repeat center;
	background-size: 180px 180px;
}

.grv-nav-versions .grv-ver{
    padding-left: 5px;
}
.grv-nav-versions .grv-current-ver{
    color: #ffa258;    
    display: inline-block;
    padding: 5px;
}
.rst-content blockquote {
    border-left: 1px solid #ffa258;
    padding-left: 5px;
    padding-right: 20px;
}
.rst-content blockquote p { color: #888 }

img[src$="grv-image-center-md"] {
    max-width: 500px;
    display: block;
    margin: 0 auto;        
    border-radius: 5px;
}

img[src$="grv-image-center-lg"] {
    max-width: 700px;
    display: block;
    margin: 0 auto;        
    border-radius: 5px;
}