/*
* Basic Defaults
*
*/
/*
* Breakpoints
*
*/
/*
* Brand Colors
*
*/
/*
* Secondary Colors
*
*/
/*
* Highlight Colors
*
*/
/*
* Z Indexes
*
*/
h1 {
  position: relative; }

.version-selector {
  bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  z-index: 1; }
  .version-selector select {
    margin-top: 8px;
    position: absolute;
    text-transform: none; }
