package local

import (
	"strings"

	apidefaults "{{.Module}}/api/defaults"
	"{{.Module}}/api/types"
	"{{.Module}}/lib/backend"
	"{{.Module}}/lib/services"
	"github.com/gravitational/trace"
)

func init() {
	RegisterGeneratedResourceParser(types.Kind{{.Kind}},
		func(kind types.WatchKind) (resourceParser, error) {
			return &{{.Lower}}Parser{
				baseParser: newBaseParser(backend.NewKey({{.PrefixConst}})),
			}, nil
		})
}

type {{.Lower}}Parser struct {
	baseParser
}

func (p *{{.Lower}}Parser) parse(event backend.Event) (types.Resource, error) {
	switch event.Type {
	case types.OpDelete:
		name := event.Item.Key.TrimPrefix(backend.NewKey({{.PrefixConst}})).String()
		if name == "" {
			return nil, trace.NotFound("failed parsing %v", event.Item.Key.String())
		}
		return &types.ResourceHeader{
			Kind:    types.Kind{{.Kind}},
			Version: types.V1,
			Metadata: types.Metadata{
				Name:      strings.TrimPrefix(name, backend.SeparatorString),
				Namespace: apidefaults.Namespace,
			},
		}, nil
	case types.OpPut:
		r, err := services.Unmarshal{{.Kind}}(event.Item.Value,
			services.WithExpires(event.Item.Expires),
			services.WithRevision(event.Item.Revision))
		if err != nil {
			return nil, trace.Wrap(err)
		}
		return types.Resource153ToLegacy(r), nil
	default:
		return nil, trace.BadParameter("event %v is not supported", event.Type)
	}
}
