---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: ""
        form:
            Action:
                - AssumeRoleWithWebIdentity
            RoleArn:
                - arn:aws:iam::278576220453:role/MarcoTestRoleOIDCProvider
            RoleSessionName:
                - "1685721416508578255"
            Version:
                - "2011-06-15"
        headers:
            Amz-Sdk-Invocation-Id:
                - 1e9e83af-ddd8-4376-8c6d-e6a1a13462a5
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://sts.us-east-1.amazonaws.com/
        method: POST
      response:
        body: |
            <AssumeRoleWithWebIdentityResponse xmlns="https://sts.amazonaws.com/doc/2011-06-15/">
              <AssumeRoleWithWebIdentityResult>
                <Audience>discover.teleport</Audience>
                <AssumedRoleUser>
                  <AssumedRoleId>AROAUBXDPZES62GD44VBR:1685721416508578255</AssumedRoleId>
                  <Arn>arn:aws:sts::278576220453:assumed-role/MarcoTestRoleOIDCProvider/1685721416508578255</Arn>
                </AssumedRoleUser>
                <Provider>arn:aws:iam::278576220453:oidc-provider/marcodinis.teleportdemo.net</Provider>
                <Credentials>
                  <AccessKeyId>x</AccessKeyId><SecretAccessKey>x</SecretAccessKey><SessionToken>x</SessionToken>
                  <Expiration>2023-06-02T16:56:57Z</Expiration>
                </Credentials>
                <SubjectFromWebIdentityToken>system:proxy</SubjectFromWebIdentityToken>
              </AssumeRoleWithWebIdentityResult>
              <ResponseMetadata>
                <RequestId>64a510c9-11e4-45d8-94c3-df738fbd35e7</RequestId>
              </ResponseMetadata>
            </AssumeRoleWithWebIdentityResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - 64a510c9-11e4-45d8-94c3-df738fbd35e7
        status: 200 OK
        code: 200
        duration: 1.094258272s
    - id: 1
      request:
        host: ""
        body: '{"containerDefinitions":[{"command":["start","--config-string","dmVyc2lvbjogdjMKdGVsZXBvcnQ6CiAgICBub2RlbmFtZTogZWNzLWRpc2NvdmVyeS1kYnNlcnZpY2UKICAgIGRhdGFfZGlyOiAvdmFyL2xpYi90ZWxlcG9ydAogICAgam9pbl9wYXJhbXM6CiAgICAgICAgdG9rZW5fbmFtZTogaWFtLXRva2VuCiAgICAgICAgbWV0aG9kOiBpYW0KICAgIHByb3h5X3NlcnZlcjogbWFyY29kaW5pcy50ZWxlcG9ydGRlbW8ubmV0CiAgICBsb2c6CiAgICAgICAgb3V0cHV0OiBzdGRlcnIKICAgICAgICBzZXZlcml0eTogSU5GTwogICAgICAgIGZvcm1hdDoKICAgICAgICAgICAgb3V0cHV0OiB0ZXh0CiAgICBjYV9waW46ICIiCiAgICBkaWFnX2FkZHI6ICIiCmF1dGhfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGxpc3Rlbl9hZGRyOiAwLjAuMC4wOjMwMjUKICAgIHByb3h5X2xpc3RlbmVyX21vZGU6IG11bHRpcGxleApzc2hfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGNvbW1hbmRzOgogICAgICAgIC0gbmFtZTogaG9zdG5hbWUKICAgICAgICAgIGNvbW1hbmQ6IFtob3N0bmFtZV0KICAgICAgICAgIHBlcmlvZDogMW0wcwpwcm94eV9zZXJ2aWNlOgogICAgZW5hYmxlZDogIm5vIgogICAgaHR0cHNfa2V5cGFpcnM6IFtdCiAgICBodHRwc19rZXlwYWlyc19yZWxvYWRfaW50ZXJ2YWw6IDBzCiAgICBhY21lOiB7fQpkYl9zZXJ2aWNlOgogICAgZW5hYmxlZDogInllcyIKICAgIGRhdGFiYXNlczogW10KICAgIHJlc291cmNlczoKICAgICAgICAtIGxhYmVsczoKICAgICAgICAgICAgJyonOiAnKicKZGlzY292ZXJ5X3NlcnZpY2U6CiAgICBlbmFibGVkOiAieWVzIgogICAgZGlzY292ZXJ5X2dyb3VwOiBteS1kaXNjb3ZlcnktZ3JvdXAK"],"entryPoint":["teleport"],"image":"public.ecr.aws/gravitational/teleport-distroless:11.0.3","logConfiguration":{"logDriver":"awslogs","options":{"awslogs-stream-prefix":"lenix01-teleport-database-service/lenix01-teleport-database-service","awslogs-create-group":"true","awslogs-group":"ecs-lenix01-teleport","awslogs-region":"us-east-1"}},"name":"ecs-discovery-dbservice"}],"cpu":"256","executionRoleArn":"MarcoEC2Role","family":"lenix01-teleport-database-service","memory":"512","networkMode":"awsvpc","requiresCompatibilities":["FARGATE"],"tags":[{"key":"teleport.dev/integration","value":"teleportdev"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/cluster","value":"lenix01-teleport"}],"taskRoleArn":"MarcoEC2Role"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 824663a7-df3d-4ad0-878e-c690379d1351
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T155657Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.RegisterTaskDefinition
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"tags":[{"key":"teleport.dev/integration","value":"teleportdev"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/cluster","value":"lenix01-teleport"}],"taskDefinition":{"compatibilities":["EC2","FARGATE"],"containerDefinitions":[{"command":["start","--config-string","dmVyc2lvbjogdjMKdGVsZXBvcnQ6CiAgICBub2RlbmFtZTogZWNzLWRpc2NvdmVyeS1kYnNlcnZpY2UKICAgIGRhdGFfZGlyOiAvdmFyL2xpYi90ZWxlcG9ydAogICAgam9pbl9wYXJhbXM6CiAgICAgICAgdG9rZW5fbmFtZTogaWFtLXRva2VuCiAgICAgICAgbWV0aG9kOiBpYW0KICAgIHByb3h5X3NlcnZlcjogbWFyY29kaW5pcy50ZWxlcG9ydGRlbW8ubmV0CiAgICBsb2c6CiAgICAgICAgb3V0cHV0OiBzdGRlcnIKICAgICAgICBzZXZlcml0eTogSU5GTwogICAgICAgIGZvcm1hdDoKICAgICAgICAgICAgb3V0cHV0OiB0ZXh0CiAgICBjYV9waW46ICIiCiAgICBkaWFnX2FkZHI6ICIiCmF1dGhfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGxpc3Rlbl9hZGRyOiAwLjAuMC4wOjMwMjUKICAgIHByb3h5X2xpc3RlbmVyX21vZGU6IG11bHRpcGxleApzc2hfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGNvbW1hbmRzOgogICAgICAgIC0gbmFtZTogaG9zdG5hbWUKICAgICAgICAgIGNvbW1hbmQ6IFtob3N0bmFtZV0KICAgICAgICAgIHBlcmlvZDogMW0wcwpwcm94eV9zZXJ2aWNlOgogICAgZW5hYmxlZDogIm5vIgogICAgaHR0cHNfa2V5cGFpcnM6IFtdCiAgICBodHRwc19rZXlwYWlyc19yZWxvYWRfaW50ZXJ2YWw6IDBzCiAgICBhY21lOiB7fQpkYl9zZXJ2aWNlOgogICAgZW5hYmxlZDogInllcyIKICAgIGRhdGFiYXNlczogW10KICAgIHJlc291cmNlczoKICAgICAgICAtIGxhYmVsczoKICAgICAgICAgICAgJyonOiAnKicKZGlzY292ZXJ5X3NlcnZpY2U6CiAgICBlbmFibGVkOiAieWVzIgogICAgZGlzY292ZXJ5X2dyb3VwOiBteS1kaXNjb3ZlcnktZ3JvdXAK"],"cpu":0,"entryPoint":["teleport"],"environment":[],"essential":true,"image":"public.ecr.aws/gravitational/teleport-distroless:11.0.3","logConfiguration":{"logDriver":"awslogs","options":{"awslogs-create-group":"true","awslogs-group":"ecs-lenix01-teleport","awslogs-region":"us-east-1","awslogs-stream-prefix":"lenix01-teleport-database-service/lenix01-teleport-database-service"}},"mountPoints":[],"name":"ecs-discovery-dbservice","portMappings":[],"volumesFrom":[]}],"cpu":"256","executionRoleArn":"arn:aws:iam::278576220453:role/MarcoEC2Role","family":"lenix01-teleport-database-service","memory":"512","networkMode":"awsvpc","placementConstraints":[],"registeredAt":1.685721418277E9,"registeredBy":"arn:aws:sts::278576220453:assumed-role/MarcoTestRoleOIDCProvider/1685721416508578255","requiresAttributes":[{"name":"com.amazonaws.ecs.capability.logging-driver.awslogs"},{"name":"ecs.capability.execution-role-awslogs"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.19"},{"name":"com.amazonaws.ecs.capability.task-iam-role"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.18"},{"name":"ecs.capability.task-eni"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.29"}],"requiresCompatibilities":["FARGATE"],"revision":2,"status":"ACTIVE","taskDefinitionArn":"arn:aws:ecs:us-east-1:278576220453:task-definition/lenix01-teleport-database-service:2","taskRoleArn":"arn:aws:iam::278576220453:role/MarcoEC2Role","volumes":[]}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - f7f2f8aa-6280-4140-84d3-30a0d03206ef
        status: 200 OK
        code: 200
        duration: 778.901088ms
[...]
    - id: 3
      request:
        host: ""
        body: '{"clusters":["lenix01-teleport"],"include":["TAGS"]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - a1f57a5c-4f00-42dc-9b04-97abfcaced77
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T155658Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.DescribeClusters
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"clusters":[{"activeServicesCount":0,"capacityProviders":["FARGATE_SPOT"],"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/lenix01-teleport","clusterName":"lenix01-teleport","defaultCapacityProviderStrategy":[],"pendingTasksCount":0,"registeredContainerInstancesCount":0,"runningTasksCount":0,"settings":[],"statistics":[],"status":"ACTIVE","tags":[{"key":"teleport.dev/cluster","value":"lenix01-teleport"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/integration","value":"teleportdev"}]}],"failures":[]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - c02fff47-3d58-4342-aa29-463420b40f6e
        status: 200 OK
        code: 200
        duration: 174.120672ms
[...]
    - id: 5
      request:
        host: ""
        body: '{"capacityProviders":["FARGATE"],"cluster":"lenix01-teleport","defaultCapacityProviderStrategy":[{"capacityProvider":"FARGATE"}]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 58801b36-5409-425b-81da-4985f291b5b4
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T155658Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.PutClusterCapacityProviders
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"cluster":{"activeServicesCount":0,"attachments":[],"attachmentsStatus":"UPDATE_IN_PROGRESS","capacityProviders":["FARGATE"],"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/lenix01-teleport","clusterName":"lenix01-teleport","defaultCapacityProviderStrategy":[{"base":0,"capacityProvider":"FARGATE","weight":0}],"pendingTasksCount":0,"registeredContainerInstancesCount":0,"runningTasksCount":0,"settings":[{"name":"containerInsights","value":"disabled"}],"statistics":[],"status":"ACTIVE","tags":[]}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 5c738958-a45c-4d4a-8952-ef40cb0cbf69
        status: 200 OK
        code: 200
        duration: 255.025386ms
[...]
    - id: 7
      request:
        host: ""
        body: '{"cluster":"lenix01-teleport","include":["TAGS"],"services":["lenix01-teleport-database-service"]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - c552c7d0-5ed5-4fc5-826b-5a8fa9663d75
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T155659Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.DescribeServices
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"failures":[{"arn":"arn:aws:ecs:us-east-1:278576220453:service/lenix01-teleport-database-service","reason":"MISSING"}],"services":[]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - a760459a-5c19-4a33-8950-c8d2b29376ce
        status: 200 OK
        code: 200
        duration: 169.604498ms
[...]
    - id: 9
      request:
        host: ""
        body: '{"cluster":"lenix01-teleport","desiredCount":1,"launchType":"FARGATE","networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"propagateTags":"SERVICE","serviceName":"lenix01-teleport-database-service","tags":[{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/cluster","value":"lenix01-teleport"},{"key":"teleport.dev/integration","value":"teleportdev"}],"taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/lenix01-teleport-database-service:2"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 7e895b37-eaaa-41e4-b754-ceec521056c6
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T155659Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.CreateService
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"service":{"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/lenix01-teleport","createdAt":1.685721420207E9,"createdBy":"arn:aws:iam::278576220453:role/MarcoTestRoleOIDCProvider","deploymentConfiguration":{"deploymentCircuitBreaker":{"enable":false,"rollback":false},"maximumPercent":200,"minimumHealthyPercent":100},"deploymentController":{"type":"ECS"},"deployments":[{"createdAt":1.685721420207E9,"desiredCount":1,"failedLaunchTaskCount":0,"failedTasks":0,"id":"ecs-svc/0163020631485623871","launchType":"FARGATE","networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","securityGroups":[],"subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"pendingCount":0,"platformFamily":"Linux","platformVersion":"1.4.0","replacedTaskCount":0,"rolloutState":"IN_PROGRESS","rolloutStateReason":"ECS deployment ecs-svc/0163020631485623871 in progress.","runningCount":0,"status":"PRIMARY","taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/lenix01-teleport-database-service:2","updatedAt":1.685721420207E9}],"desiredCount":1,"enableECSManagedTags":false,"enableExecuteCommand":false,"events":[],"launchType":"FARGATE","loadBalancers":[],"networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","securityGroups":[],"subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"pendingCount":0,"placementConstraints":[],"placementStrategy":[],"platformFamily":"Linux","platformVersion":"LATEST","propagateTags":"SERVICE","roleArn":"arn:aws:iam::278576220453:role/aws-service-role/ecs.amazonaws.com/AWSServiceRoleForECS","runningCount":0,"schedulingStrategy":"REPLICA","serviceArn":"arn:aws:ecs:us-east-1:278576220453:service/lenix01-teleport/lenix01-teleport-database-service","serviceName":"lenix01-teleport-database-service","serviceRegistries":[],"status":"ACTIVE","tags":[{"key":"teleport.dev/cluster","value":"lenix01-teleport"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/integration","value":"teleportdev"}],"taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/lenix01-teleport-database-service:2","version":0}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - 438b205e-7c35-48ed-8099-afc4e92ca7a6
        status: 200 OK
        code: 200
        duration: 736.321953ms
