---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: ""
        form:
            Action:
                - AssumeRoleWithWebIdentity
            RoleArn:
                - arn:aws:iam::278576220453:role/MarcoTestRoleOIDCProvider
            RoleSessionName:
                - "1686752851919471138"
            Version:
                - "2011-06-15"
        headers:
            Amz-Sdk-Invocation-Id:
                - 0047a00b-411a-43a5-9fdd-8e2c67308025
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://sts.us-east-1.amazonaws.com/
        method: POST
      response:
        body: |
            <AssumeRoleWithWebIdentityResponse xmlns="https://sts.amazonaws.com/doc/2011-06-15/">
              <AssumeRoleWithWebIdentityResult>
                <Audience>discover.teleport</Audience>
                <AssumedRoleUser>
                  <AssumedRoleId>AROAUBXDPZES62GD44VBR:1686752851919471138</AssumedRoleId>
                  <Arn>arn:aws:sts::278576220453:assumed-role/MarcoTestRoleOIDCProvider/1686752851919471138</Arn>
                </AssumedRoleUser>
                <Provider>arn:aws:iam::278576220453:oidc-provider/marcodinis.teleportdemo.net</Provider>
                <Credentials>
                  <AccessKeyId>x</AccessKeyId><SecretAccessKey>x</SecretAccessKey><SessionToken>x</SessionToken>
                  <Expiration>2023-06-14T15:27:32Z</Expiration>
                </Credentials>
                <SubjectFromWebIdentityToken>system:proxy</SubjectFromWebIdentityToken>
              </AssumeRoleWithWebIdentityResult>
              <ResponseMetadata>
                <RequestId>c3311667-89d2-4a91-8689-0b94e20d4aa1</RequestId>
              </ResponseMetadata>
            </AssumeRoleWithWebIdentityResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - c3311667-89d2-4a91-8689-0b94e20d4aa1
        status: 200 OK
        code: 200
        duration: 1.105990977s
    - id: 1
      request:
        host: ""
        body: '{"containerDefinitions":[{"command":["start","--config-string","dmVyc2lvbjogdjMKdGVsZXBvcnQ6CiAgZGF0YV9kaXI6IC92YXIvbGliL3RlbGVwb3J0CiAgam9pbl9wYXJhbXM6CiAgICB0b2tlbl9uYW1lOiBpYW0tdG9rZW4KICAgIG1ldGhvZDogaWFtCiAgcHJveHlfc2VydmVyOiBtYXJjb2RpbmlzLnRlbGVwb3J0ZGVtby5uZXQKICBsb2c6CiAgICBvdXRwdXQ6IHN0ZGVycgogICAgc2V2ZXJpdHk6IElORk8KICAgIGZvcm1hdDoKICAgICAgb3V0cHV0OiB0ZXh0CiAgY2FfcGluOiAiIgogIGRpYWdfYWRkcjogIiIKYXV0aF9zZXJ2aWNlOgogIGVuYWJsZWQ6ICJubyIKICBsaXN0ZW5fYWRkcjogMC4wLjAuMDozMDI1CiAgcHJveHlfbGlzdGVuZXJfbW9kZTogbXVsdGlwbGV4CnNzaF9zZXJ2aWNlOgogIGVuYWJsZWQ6ICJubyIKICBjb21tYW5kczoKICAtIG5hbWU6IGhvc3RuYW1lCiAgICBjb21tYW5kOiBbaG9zdG5hbWVdCiAgICBwZXJpb2Q6IDFtMHMKcHJveHlfc2VydmljZToKICBlbmFibGVkOiAibm8iCiAgaHR0cHNfa2V5cGFpcnM6IFtdCiAgaHR0cHNfa2V5cGFpcnNfcmVsb2FkX2ludGVydmFsOiAwcwogIGFjbWU6IHt9CmRiX3NlcnZpY2U6CiAgZW5hYmxlZDogInllcyIKICBkYXRhYmFzZXM6IFtdCiAgcmVzb3VyY2VzOgogIC0gbGFiZWxzOgogICAgICAnKic6ICcqJwo="],"entryPoint":["teleport"],"image":"public.ecr.aws/gravitational/teleport-distroless:13.1.0","logConfiguration":{"logDriver":"awslogs","options":{"awslogs-region":"us-east-1","awslogs-stream-prefix":"cluster1001-teleport-database-service/cluster1001-teleport-database-service","awslogs-create-group":"true","awslogs-group":"ecs-cluster1001-teleport"}},"name":"teleport-service"}],"cpu":"512","executionRoleArn":"MarcoEC2Role","family":"cluster1001-teleport-database-service","memory":"1024","networkMode":"awsvpc","requiresCompatibilities":["FARGATE"],"tags":[{"key":"teleport.dev/creator_type","value":"teleport"},{"key":"teleport.dev/origin","value":"integration_awsoidc"},{"key":"teleport.dev/creator","value":"cluster1001"},{"key":"teleport.dev/integration","value":"teleportdev"}],"taskRoleArn":"MarcoEC2Role"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 9b8196fe-c606-4f60-8f3f-25ac3075965d
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230614T142733Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.RegisterTaskDefinition
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"tags":[{"key":"teleport.dev/creator_type","value":"teleport"},{"key":"teleport.dev/origin","value":"integration_awsoidc"},{"key":"teleport.dev/creator","value":"cluster1001"},{"key":"teleport.dev/integration","value":"teleportdev"}],"taskDefinition":{"compatibilities":["EC2","FARGATE"],"containerDefinitions":[{"command":["start","--config-string","dmVyc2lvbjogdjMKdGVsZXBvcnQ6CiAgZGF0YV9kaXI6IC92YXIvbGliL3RlbGVwb3J0CiAgam9pbl9wYXJhbXM6CiAgICB0b2tlbl9uYW1lOiBpYW0tdG9rZW4KICAgIG1ldGhvZDogaWFtCiAgcHJveHlfc2VydmVyOiBtYXJjb2RpbmlzLnRlbGVwb3J0ZGVtby5uZXQKICBsb2c6CiAgICBvdXRwdXQ6IHN0ZGVycgogICAgc2V2ZXJpdHk6IElORk8KICAgIGZvcm1hdDoKICAgICAgb3V0cHV0OiB0ZXh0CiAgY2FfcGluOiAiIgogIGRpYWdfYWRkcjogIiIKYXV0aF9zZXJ2aWNlOgogIGVuYWJsZWQ6ICJubyIKICBsaXN0ZW5fYWRkcjogMC4wLjAuMDozMDI1CiAgcHJveHlfbGlzdGVuZXJfbW9kZTogbXVsdGlwbGV4CnNzaF9zZXJ2aWNlOgogIGVuYWJsZWQ6ICJubyIKICBjb21tYW5kczoKICAtIG5hbWU6IGhvc3RuYW1lCiAgICBjb21tYW5kOiBbaG9zdG5hbWVdCiAgICBwZXJpb2Q6IDFtMHMKcHJveHlfc2VydmljZToKICBlbmFibGVkOiAibm8iCiAgaHR0cHNfa2V5cGFpcnM6IFtdCiAgaHR0cHNfa2V5cGFpcnNfcmVsb2FkX2ludGVydmFsOiAwcwogIGFjbWU6IHt9CmRiX3NlcnZpY2U6CiAgZW5hYmxlZDogInllcyIKICBkYXRhYmFzZXM6IFtdCiAgcmVzb3VyY2VzOgogIC0gbGFiZWxzOgogICAgICAnKic6ICcqJwo="],"cpu":0,"entryPoint":["teleport"],"environment":[],"essential":true,"image":"public.ecr.aws/gravitational/teleport-distroless:13.1.0","logConfiguration":{"logDriver":"awslogs","options":{"awslogs-create-group":"true","awslogs-group":"ecs-cluster1001-teleport","awslogs-region":"us-east-1","awslogs-stream-prefix":"cluster1001-teleport-database-service/cluster1001-teleport-database-service"}},"mountPoints":[],"name":"teleport-service","portMappings":[],"volumesFrom":[]}],"cpu":"512","executionRoleArn":"arn:aws:iam::278576220453:role/MarcoEC2Role","family":"cluster1001-teleport-database-service","memory":"1024","networkMode":"awsvpc","placementConstraints":[],"registeredAt":1.686752853682E9,"registeredBy":"arn:aws:sts::278576220453:assumed-role/MarcoTestRoleOIDCProvider/1686752851919471138","requiresAttributes":[{"name":"com.amazonaws.ecs.capability.logging-driver.awslogs"},{"name":"ecs.capability.execution-role-awslogs"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.19"},{"name":"com.amazonaws.ecs.capability.task-iam-role"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.18"},{"name":"ecs.capability.task-eni"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.29"}],"requiresCompatibilities":["FARGATE"],"revision":9,"status":"ACTIVE","taskDefinitionArn":"arn:aws:ecs:us-east-1:278576220453:task-definition/cluster1001-teleport-database-service:9","taskRoleArn":"arn:aws:iam::278576220453:role/MarcoEC2Role","volumes":[]}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - ab2cbbdb-03ef-4050-b6b5-d93f843a04c6
        status: 200 OK
        code: 200
        duration: 759.613735ms
[...]
    - id: 3
      request:
        host: ""
        body: '{"clusters":["cluster1001-teleport"],"include":["TAGS"]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 1c1a4701-3025-42a7-955d-c5da63dc06bf
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230614T142733Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.DescribeClusters
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"clusters":[{"activeServicesCount":0,"capacityProviders":["FARGATE_SPOT"],"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/cluster1001-teleport","clusterName":"cluster1001-teleport","defaultCapacityProviderStrategy":[{"base":1,"capacityProvider":"FARGATE_SPOT","weight":1}],"pendingTasksCount":0,"registeredContainerInstancesCount":0,"runningTasksCount":0,"settings":[],"statistics":[],"status":"ACTIVE","tags":[{"key":"teleport.dev/origin","value":"integration_awsoidc"},{"key":"teleport.dev/creator_type","value":"teleport"},{"key":"teleport.dev/integration","value":"teleportdev"},{"key":"teleport.dev/creator","value":"cluster1001"}]}],"failures":[]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - cdfe8d88-85aa-4d94-981f-d601b26b011f
        status: 200 OK
        code: 200
        duration: 181.075204ms
[...]
    - id: 5
      request:
        host: ""
        body: '{"capacityProviders":["FARGATE"],"cluster":"cluster1001-teleport","defaultCapacityProviderStrategy":[{"capacityProvider":"FARGATE"}]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 0dfe47d9-0296-45f6-9975-bc5eb59fe74b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230614T142734Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.PutClusterCapacityProviders
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"cluster":{"activeServicesCount":0,"attachments":[],"attachmentsStatus":"UPDATE_IN_PROGRESS","capacityProviders":["FARGATE"],"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/cluster1001-teleport","clusterName":"cluster1001-teleport","defaultCapacityProviderStrategy":[{"base":0,"capacityProvider":"FARGATE","weight":0}],"pendingTasksCount":0,"registeredContainerInstancesCount":0,"runningTasksCount":0,"settings":[{"name":"containerInsights","value":"disabled"}],"statistics":[],"status":"ACTIVE","tags":[]}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - cf8a31c7-6aba-4fd5-8b07-1226e50c2430
        status: 200 OK
        code: 200
        duration: 252.004431ms
[...]
    - id: 7
      request:
        host: ""
        body: '{"cluster":"cluster1001-teleport","include":["TAGS"],"services":["cluster1001-teleport-database-service"]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - f1e60944-27ae-45fa-af48-8681cd1e2127
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230614T142734Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.DescribeServices
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"failures":[],"services":[{"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/cluster1001-teleport","createdAt":1.68675250966E9,"createdBy":"arn:aws:iam::278576220453:role/MarcoTestRoleOIDCProvider","deploymentConfiguration":{"deploymentCircuitBreaker":{"enable":false,"rollback":false},"maximumPercent":200,"minimumHealthyPercent":100},"deploymentController":{"type":"ECS"},"deployments":[{"createdAt":1.68675250966E9,"desiredCount":0,"failedLaunchTaskCount":0,"failedTasks":0,"id":"ecs-svc/8831561942949256501","launchType":"FARGATE","networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","securityGroups":[],"subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"pendingCount":0,"platformFamily":"Linux","platformVersion":"1.4.0","replacedTaskCount":0,"rolloutState":"COMPLETED","rolloutStateReason":"ECS deployment ecs-svc/8831561942949256501 completed.","runningCount":0,"status":"PRIMARY","taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/cluster1001-teleport-database-service:5","updatedAt":1.686752724348E9}],"desiredCount":0,"enableECSManagedTags":false,"enableExecuteCommand":false,"events":[],"launchType":"FARGATE","loadBalancers":[],"networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","securityGroups":[],"subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"pendingCount":0,"placementConstraints":[],"placementStrategy":[],"platformFamily":"Linux","platformVersion":"LATEST","propagateTags":"SERVICE","roleArn":"arn:aws:iam::278576220453:role/aws-service-role/ecs.amazonaws.com/AWSServiceRoleForECS","runStatus":"Inactive","runningCount":0,"schedulingStrategy":"REPLICA","serviceArn":"arn:aws:ecs:us-east-1:278576220453:service/cluster1001-teleport/cluster1001-teleport-database-service","serviceName":"cluster1001-teleport-database-service","serviceRegistries":[],"status":"INACTIVE","taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/cluster1001-teleport-database-service:5","version":0}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - c8e96d10-6089-4807-9790-df8bab91aa28
        status: 200 OK
        code: 200
        duration: 170.395656ms
[...]
    - id: 9
      request:
        host: ""
        body: '{"cluster":"cluster1001-teleport","force":true,"service":"cluster1001-teleport-database-service"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 25108ab7-e945-4008-804f-15afb872f9a4
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230614T142735Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.DeleteService
        url: https://ecs.us-east-1.amazonaws.co[...]
[...]
