---
version: 2
interactions:
    - id: 0
      request:
        host: ""
        body: ""
        form:
            Action:
                - AssumeRoleWithWebIdentity
            RoleArn:
                - arn:aws:iam::278576220453:role/MarcoTestRoleOIDCProvider
            RoleSessionName:
                - "1685716222572402404"
            Version:
                - "2011-06-15"
        headers:
            Amz-Sdk-Invocation-Id:
                - 94453c97-2549-4779-9019-0a37dc285997
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://sts.us-east-1.amazonaws.com/
        method: POST
      response:
        body: |
            <AssumeRoleWithWebIdentityResponse xmlns="https://sts.amazonaws.com/doc/2011-06-15/">
              <AssumeRoleWithWebIdentityResult>
                <Audience>discover.teleport</Audience>
                <AssumedRoleUser>
                  <AssumedRoleId>AROAUBXDPZES62GD44VBR:1685716222572402404</AssumedRoleId>
                  <Arn>arn:aws:sts::278576220453:assumed-role/MarcoTestRoleOIDCProvider/1685716222572402404</Arn>
                </AssumedRoleUser>
                <Provider>arn:aws:iam::278576220453:oidc-provider/marcodinis.teleportdemo.net</Provider>
                <Credentials>
                  <AccessKeyId>x</AccessKeyId><SecretAccessKey>x</SecretAccessKey><SessionToken>x</SessionToken>
                  <Expiration>2023-06-02T15:30:23Z</Expiration>
                </Credentials>
                <SubjectFromWebIdentityToken>system:proxy</SubjectFromWebIdentityToken>
              </AssumeRoleWithWebIdentityResult>
              <ResponseMetadata>
                <RequestId>14255950-6675-4833-9b9d-a59d665626cf</RequestId>
              </ResponseMetadata>
            </AssumeRoleWithWebIdentityResponse>
        headers:
            Content-Type:
                - text/xml
            X-Amzn-Requestid:
                - 14255950-6675-4833-9b9d-a59d665626cf
        status: 200 OK
        code: 200
        duration: 1.099670171s
    - id: 1
      request:
        host: ""
        body: '{"containerDefinitions":[{"command":["start","--config-string","dmVyc2lvbjogdjMKdGVsZXBvcnQ6CiAgICBub2RlbmFtZTogZWNzLWRpc2NvdmVyeS1kYnNlcnZpY2UKICAgIGRhdGFfZGlyOiAvdmFyL2xpYi90ZWxlcG9ydAogICAgam9pbl9wYXJhbXM6CiAgICAgICAgdG9rZW5fbmFtZTogaWFtLXRva2VuCiAgICAgICAgbWV0aG9kOiBpYW0KICAgIHByb3h5X3NlcnZlcjogbWFyY29kaW5pcy50ZWxlcG9ydGRlbW8ubmV0CiAgICBsb2c6CiAgICAgICAgb3V0cHV0OiBzdGRlcnIKICAgICAgICBzZXZlcml0eTogSU5GTwogICAgICAgIGZvcm1hdDoKICAgICAgICAgICAgb3V0cHV0OiB0ZXh0CiAgICBjYV9waW46ICIiCiAgICBkaWFnX2FkZHI6ICIiCmF1dGhfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGxpc3Rlbl9hZGRyOiAwLjAuMC4wOjMwMjUKICAgIHByb3h5X2xpc3RlbmVyX21vZGU6IG11bHRpcGxleApzc2hfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGNvbW1hbmRzOgogICAgICAgIC0gbmFtZTogaG9zdG5hbWUKICAgICAgICAgIGNvbW1hbmQ6IFtob3N0bmFtZV0KICAgICAgICAgIHBlcmlvZDogMW0wcwpwcm94eV9zZXJ2aWNlOgogICAgZW5hYmxlZDogIm5vIgogICAgaHR0cHNfa2V5cGFpcnM6IFtdCiAgICBodHRwc19rZXlwYWlyc19yZWxvYWRfaW50ZXJ2YWw6IDBzCiAgICBhY21lOiB7fQpkYl9zZXJ2aWNlOgogICAgZW5hYmxlZDogInllcyIKICAgIGRhdGFiYXNlczogW10KICAgIHJlc291cmNlczoKICAgICAgICAtIGxhYmVsczoKICAgICAgICAgICAgJyonOiAnKicKZGlzY292ZXJ5X3NlcnZpY2U6CiAgICBlbmFibGVkOiAieWVzIgogICAgZGlzY292ZXJ5X2dyb3VwOiBteS1kaXNjb3ZlcnktZ3JvdXAK"],"entryPoint":["teleport"],"image":"public.ecr.aws/gravitational/teleport-distroless:11.0.3","logConfiguration":{"logDriver":"awslogs","options":{"awslogs-create-group":"true","awslogs-group":"ecs-testcluster001-teleport","awslogs-region":"us-east-1","awslogs-stream-prefix":"testcluster001-teleport-database-service/testcluster001-teleport-database-service"}},"name":"ecs-discovery-dbservice"}],"cpu":"256","executionRoleArn":"MarcoEC2Role","family":"testcluster001-teleport-database-service","memory":"512","networkMode":"awsvpc","requiresCompatibilities":["FARGATE"],"tags":[{"key":"teleport.dev/cluster","value":"testcluster001-teleport"},{"key":"teleport.dev/integration","value":"teleportdev"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"}],"taskRoleArn":"MarcoEC2Role"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 6486b55b-f0b2-4515-a202-067452af2be3
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T143023Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.RegisterTaskDefinition
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"tags":[{"key":"teleport.dev/cluster","value":"testcluster001-teleport"},{"key":"teleport.dev/integration","value":"teleportdev"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"}],"taskDefinition":{"compatibilities":["EC2","FARGATE"],"containerDefinitions":[{"command":["start","--config-string","dmVyc2lvbjogdjMKdGVsZXBvcnQ6CiAgICBub2RlbmFtZTogZWNzLWRpc2NvdmVyeS1kYnNlcnZpY2UKICAgIGRhdGFfZGlyOiAvdmFyL2xpYi90ZWxlcG9ydAogICAgam9pbl9wYXJhbXM6CiAgICAgICAgdG9rZW5fbmFtZTogaWFtLXRva2VuCiAgICAgICAgbWV0aG9kOiBpYW0KICAgIHByb3h5X3NlcnZlcjogbWFyY29kaW5pcy50ZWxlcG9ydGRlbW8ubmV0CiAgICBsb2c6CiAgICAgICAgb3V0cHV0OiBzdGRlcnIKICAgICAgICBzZXZlcml0eTogSU5GTwogICAgICAgIGZvcm1hdDoKICAgICAgICAgICAgb3V0cHV0OiB0ZXh0CiAgICBjYV9waW46ICIiCiAgICBkaWFnX2FkZHI6ICIiCmF1dGhfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGxpc3Rlbl9hZGRyOiAwLjAuMC4wOjMwMjUKICAgIHByb3h5X2xpc3RlbmVyX21vZGU6IG11bHRpcGxleApzc2hfc2VydmljZToKICAgIGVuYWJsZWQ6ICJubyIKICAgIGNvbW1hbmRzOgogICAgICAgIC0gbmFtZTogaG9zdG5hbWUKICAgICAgICAgIGNvbW1hbmQ6IFtob3N0bmFtZV0KICAgICAgICAgIHBlcmlvZDogMW0wcwpwcm94eV9zZXJ2aWNlOgogICAgZW5hYmxlZDogIm5vIgogICAgaHR0cHNfa2V5cGFpcnM6IFtdCiAgICBodHRwc19rZXlwYWlyc19yZWxvYWRfaW50ZXJ2YWw6IDBzCiAgICBhY21lOiB7fQpkYl9zZXJ2aWNlOgogICAgZW5hYmxlZDogInllcyIKICAgIGRhdGFiYXNlczogW10KICAgIHJlc291cmNlczoKICAgICAgICAtIGxhYmVsczoKICAgICAgICAgICAgJyonOiAnKicKZGlzY292ZXJ5X3NlcnZpY2U6CiAgICBlbmFibGVkOiAieWVzIgogICAgZGlzY292ZXJ5X2dyb3VwOiBteS1kaXNjb3ZlcnktZ3JvdXAK"],"cpu":0,"entryPoint":["teleport"],"environment":[],"essential":true,"image":"public.ecr.aws/gravitational/teleport-distroless:11.0.3","logConfiguration":{"logDriver":"awslogs","options":{"awslogs-create-group":"true","awslogs-group":"ecs-testcluster001-teleport","awslogs-region":"us-east-1","awslogs-stream-prefix":"testcluster001-teleport-database-service/testcluster001-teleport-database-service"}},"mountPoints":[],"name":"ecs-discovery-dbservice","portMappings":[],"volumesFrom":[]}],"cpu":"256","executionRoleArn":"arn:aws:iam::278576220453:role/MarcoEC2Role","family":"testcluster001-teleport-database-service","memory":"512","networkMode":"awsvpc","placementConstraints":[],"registeredAt":1.685716224308E9,"registeredBy":"arn:aws:sts::278576220453:assumed-role/MarcoTestRoleOIDCProvider/1685716222572402404","requiresAttributes":[{"name":"com.amazonaws.ecs.capability.logging-driver.awslogs"},{"name":"ecs.capability.execution-role-awslogs"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.19"},{"name":"com.amazonaws.ecs.capability.task-iam-role"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.18"},{"name":"ecs.capability.task-eni"},{"name":"com.amazonaws.ecs.capability.docker-remote-api.1.29"}],"requiresCompatibilities":["FARGATE"],"revision":1,"status":"ACTIVE","taskDefinitionArn":"arn:aws:ecs:us-east-1:278576220453:task-definition/testcluster001-teleport-database-service:1","taskRoleArn":"arn:aws:iam::278576220453:role/MarcoEC2Role","volumes":[]}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - c32a27a6-d4ad-415d-a016-bc4012ae0643
        status: 200 OK
        code: 200
        duration: 743.117483ms
[...]
    - id: 3
      request:
        host: ""
        body: '{"clusters":["testcluster001-teleport"],"include":["TAGS"]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 42cd7d64-e5a4-46b7-980f-6bd4e713ad9b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T143024Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.DescribeClusters
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"clusters":[],"failures":[{"arn":"arn:aws:ecs:us-east-1:278576220453:cluster/testcluster001-teleport","reason":"MISSING"}]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - ee6d009b-dac9-4a10-9aa9-e957e19e055f
        status: 200 OK
        code: 200
        duration: 164.834428ms
[...]
    - id: 5
      request:
        host: ""
        body: '{"capacityProviders":["FARGATE"],"clusterName":"testcluster001-teleport","tags":[{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/cluster","value":"testcluster001-teleport"},{"key":"teleport.dev/integration","value":"teleportdev"}]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 5a29d243-7617-492d-944a-c817a556dc03
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T143024Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.CreateCluster
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"cluster":{"activeServicesCount":0,"capacityProviders":["FARGATE"],"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/testcluster001-teleport","clusterName":"testcluster001-teleport","defaultCapacityProviderStrategy":[],"pendingTasksCount":0,"registeredContainerInstancesCount":0,"runningTasksCount":0,"settings":[{"name":"containerInsights","value":"disabled"}],"statistics":[],"status":"ACTIVE","tags":[{"key":"teleport.dev/cluster","value":"testcluster001-teleport"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/integration","value":"teleportdev"}]}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - dedf036a-73bd-4187-be04-f6c19e77e65a
        status: 200 OK
        code: 200
        duration: 314.44006ms
[...]
    - id: 7
      request:
        host: ""
        body: '{"cluster":"testcluster001-teleport","include":["TAGS"],"services":["testcluster001-teleport-database-service"]}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - db170938-c57b-401a-a6b6-b8a9558a8423
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T143025Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.DescribeServices
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"failures":[{"arn":"arn:aws:ecs:us-east-1:278576220453:service/testcluster001-teleport-database-service","reason":"MISSING"}],"services":[]}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - df31e738-9b0f-48fd-9229-f5c799d4a478
        status: 200 OK
        code: 200
        duration: 157.923832ms
[...]
    - id: 9
      request:
        host: ""
        body: '{"cluster":"testcluster001-teleport","desiredCount":1,"launchType":"FARGATE","networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"serviceName":"testcluster001-teleport-database-service","tags":[{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/cluster","value":"testcluster001-teleport"},{"key":"teleport.dev/integration","value":"teleportdev"}],"taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/testcluster001-teleport-database-service:1"}'
        form: {}
        headers:
            Amz-Sdk-Invocation-Id:
                - 20de1bcc-3577-43c9-b727-7ae0a55ba31b
            Amz-Sdk-Request:
                - attempt=1; max=3
            Content-Type:
                - application/x-amz-json-1.1
            X-Amz-Date:
                - 20230602T143025Z
            X-Amz-Target:
                - AmazonEC2ContainerServiceV20141113.CreateService
        url: https://ecs.us-east-1.amazonaws.com/
        method: POST
      response:
        body: '{"service":{"clusterArn":"arn:aws:ecs:us-east-1:278576220453:cluster/testcluster001-teleport","createdAt":1.685716226377E9,"createdBy":"arn:aws:iam::278576220453:role/MarcoTestRoleOIDCProvider","deploymentConfiguration":{"deploymentCircuitBreaker":{"enable":false,"rollback":false},"maximumPercent":200,"minimumHealthyPercent":100},"deploymentController":{"type":"ECS"},"deployments":[{"createdAt":1.685716226377E9,"desiredCount":1,"failedLaunchTaskCount":0,"failedTasks":0,"id":"ecs-svc/8422383003778908232","launchType":"FARGATE","networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","securityGroups":[],"subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"pendingCount":0,"platformFamily":"Linux","platformVersion":"1.4.0","replacedTaskCount":0,"rolloutState":"IN_PROGRESS","rolloutStateReason":"ECS deployment ecs-svc/8422383003778908232 in progress.","runningCount":0,"status":"PRIMARY","taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/testcluster001-teleport-database-service:1","updatedAt":1.685716226377E9}],"desiredCount":1,"enableECSManagedTags":false,"enableExecuteCommand":false,"events":[],"launchType":"FARGATE","loadBalancers":[],"networkConfiguration":{"awsvpcConfiguration":{"assignPublicIp":"ENABLED","securityGroups":[],"subnets":["subnet-0b7ab67161173748b","subnet-0dda93c8621eb2e99","subnet-034f17b3f7344e375","subnet-04a07d4721a3c96e0","subnet-0ef025345dd791986","subnet-099632749366c2c56"]}},"pendingCount":0,"placementConstraints":[],"placementStrategy":[],"platformFamily":"Linux","platformVersion":"LATEST","propagateTags":"NONE","roleArn":"arn:aws:iam::278576220453:role/aws-service-role/ecs.amazonaws.com/AWSServiceRoleForECS","runningCount":0,"schedulingStrategy":"REPLICA","serviceArn":"arn:aws:ecs:us-east-1:278576220453:service/testcluster001-teleport/testcluster001-teleport-database-service","serviceName":"testcluster001-teleport-database-service","serviceRegistries":[],"status":"ACTIVE","tags":[{"key":"teleport.dev/cluster","value":"testcluster001-teleport"},{"key":"teleport.dev/origin","value":"aws-oidc-integration"},{"key":"teleport.dev/integration","value":"teleportdev"}],"taskDefinition":"arn:aws:ecs:us-east-1:278576220453:task-definition/testcluster001-teleport-database-service:1","version":0}}'
        headers:
            Content-Type:
                - application/x-amz-json-1.1
            X-Amzn-Requestid:
                - a264e384-4e2b-4fbe-996b-d28be1061969
        status: 200 OK
        code: 200
        duration: 825.133929ms
