/*
* Basic Defaults
*
*/

$unit: 8px;
$font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$color-font-1: #4A90E2;
$color-font-2: #404040;
$color-font-3: #404040;
$color-font-4: #3d73ba;
$color-font-5: #5d5d5d;
$color-font-7: #888;
$color-font-8: #333;
$color-font-9: #6f6f6f;
$color-font-10: #818284;
$color-font-11: #3362a0;
$color-font-12: #fff;

$color-bkg-1: #f0f1f8;
$color-bkg-2: #ffffff;
$color-bkg-3: #4A90E2;
$color-bkg-4: #FFFFFF;
$color-bkg-5: #fff;
$color-bkg-6: #ffffff1a;
$color-bkg-7: #d6d6d6;
$color-bkg-8: #e4e5ef;
$color-bkg-9: #e3e3e3;
$color-bkg-10: #fcfcfc;
$color-bkg-11: #fafafe;
$color-bkg-12: #4a90e3;
$color-bkg-13: #2980B9;
$color-bkg-14: #D0021B;
$color-bkg-15: #ffffff;

$color-border-2: #b7bacb;
$color-border-3: #404040;
$color-border-4: #e5e5ee;
$color-border-5: #E1E4E5;

// TODO: use these variables for text colors
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee


/*
* Z Indexes
*
*/

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
