<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Teleport Verify uses the built-in QR code scanner to receive enrollment data from the Teleport Web UI</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.gravitational.Verify</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teleport</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
