#!/usr/bin/env bash

set -o errexit
set -o pipefail
set -o nounset

(
  flock -n 9 || exit 1
  if grep -q "Section created by 'teleport join openssh'" "$SSHD_CONFIG"; then
    exit 0
  fi

  . /etc/os-release

  PACKAGE_LIST="{{ .TeleportPackage }}"
  if [[ "{{ .AutomaticUpgrades }}" == "true" ]]; then
    PACKAGE_LIST="${PACKAGE_LIST} {{ .TeleportPackage }}-updater"
  fi

  if [ "$ID" = "debian" ] || [ "$ID" = "ubuntu" ]; then
    # old versions of ubuntu require that keys get added by `apt-key add`, without
    # adding the key apt shows a key signing error when installing teleport.
    if [ "$VERSION_CODENAME" = "xenial" ] || [ "$VERSION_CODENAME" = "trusty" ]; then
      curl -o /tmp/teleport-pubkey.asc https://apt.releases.teleport.dev/gpg
      cat /tmp/teleport-pubkey.asc | sudo apt-key add -
      echo "deb https://apt.releases.teleport.dev/ubuntu ${VERSION_CODENAME?} {{ .RepoChannel }}" | sudo tee /etc/apt/sources.list.d/teleport.list
      rm /tmp/teleport-pubkey.asc
    else
      curl https://apt.releases.teleport.dev/gpg | sudo tee /usr/share/keyrings/teleport-archive-keyring.asc
      echo "deb [signed-by=/usr/share/keyrings/teleport-archive-keyring.asc]  https://apt.releases.teleport.dev/${ID?} ${VERSION_CODENAME?} {{ .RepoChannel }}" | sudo tee /etc/apt/sources.list.d/teleport.list >/dev/null
    fi
    sudo apt-get update
    sudo apt-get install -y ${PACKAGE_LIST}
  elif [ "$ID" = "amzn" ] || [ "$ID" = "rhel" ]; then
    if [ "$ID" = "rhel" ]; then
      VERSION_ID=$(echo "$VERSION_ID" | sed 's/\..*//') # convert version numbers like '7.2' to only include the major version
    fi
    sudo yum-config-manager --add-repo \
      "$(rpm --eval "https://yum.releases.teleport.dev/$ID/$VERSION_ID/Teleport/%{_arch}/{{ .RepoChannel }}/teleport.repo")"
    sudo yum install -y ${PACKAGE_LIST}
  else
    echo "Unsupported distro: $ID"
    exit 1
  fi

  IMDS_TOKEN=$(curl -m5 -sS -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 300")
  LOCAL_IP=$(curl -m5 -sS -H "X-aws-ec2-metadata-token: ${IMDS_TOKEN}" http://169.254.169.254/latest/meta-data/local-ipv4)
  PUBLIC_IP=$(curl -m5 -sS -H "X-aws-ec2-metadata-token: ${IMDS_TOKEN}" http://169.254.169.254/latest/meta-data/public-ipv4 || echo "")

  PRINCIPALS=""
  if [ ! "$LOCAL_IP" = "" ]; then
    PRINCIPALS="$LOCAL_IP,$PRINCIPALS"
  fi
  if [ ! "$PUBLIC_IP" = "" ]; then
    PRINCIPALS="$PUBLIC_IP,$PRINCIPALS"
  fi

  sudo /usr/bin/teleport join openssh \
    --openssh-config="${SSHD_CONFIG}" \
    --join-method=iam \
    --token="$1" \
    --proxy-server="{{ .PublicProxyAddr }}" \
    --additional-principals="$PRINCIPALS" \
    --restart-sshd

) 9>/var/lock/teleport_install.lock
