[Unit]
Description=Gravitational Teleport Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/teleport start -d

[Install]
WantedBy=local.target
