node_modules/
test-results/
playwright-report/
blob-reports/
playwright/.cache/
runner/e2e
runner/runner
certs/
data/
config/teleport.yaml
config/*-teleport.yaml
config/state.yaml
node/node.yaml
node/*-node.yaml
teleport.log
teleport-*.log
docker-node-*.log
.auth/
