[Unit]
Description=Teleport Tick stack
After=network.target

[Service]
Type=simple
Restart=always
User=ubuntu
WorkingDirectory=/home/ubuntu/go/src/github.com/gravitational/teleport/assets/monitoring
ExecStart=/usr/bin/docker-compose up

[Install]
WantedBy=multi-user.target
