build
build-fips

# usually release tarballs get in the way
*.gz

# Compiled binaries, Object files, Static and Dynamic libs (Shared Objects)
out
build
*.o#
*.a
*.so

# Temp stuff
_obj
_test
tmp
.tmp
.test

# editors
.vscode
*.swp

# test binaries produced by go
*.test

/tool/modules/fips.go
