//$unit: 8px !default;


/*
* FLEX BOX GRID
*
*/

.l-flex {
  display: flex;

  @include respond-to('mobile') {
    display: block;
  }
}

.l-flex-fullscreen {
  display: flex;
  align-items: stretch;
}

.l-flex-justify {
  display: flex;
  justify-content: space-between;
}

.l-flex-dir-col {
  flex-direction: column;  
}

.l-flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;

  .col-1 {
    text-align: center;
  }

  @include respond-to('mobile') {
    display: block;
  }
}

.l-flex-wrap {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

/*
* Flex columns
*
*/

@for $i from 1 through 12 {
    
  .col-#{$i} {
    box-sizing: border-box;
    flex: $i;
    margin-left: $unit * 2;
    margin-right: $unit * 2;

    @include respond-to('mobile') {
      flex: none;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: $unit ;
      width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &.no-margin {
      margin: 0;
    }
  }

  .col-fixed-#{$i} {
    box-sizing: border-box;
    flex: $i * ($unit * 10);
    max-width: $i * ($unit * 10);
    margin-left: $unit * 2;
    margin-right: $unit * 2;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &.no-margin {
      margin: 0;
    }
  }
}