

/*
* Floats & clears
*
*/


.l-no-margins{
  margin: 0;
}

.l-left {
  float: left;
}

.l-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.l-right {
  float: right;
}

.clear {
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.l-overflow {
  overflow: auto;
}

.l-overflow-hidden {
  overflow: hidden;
}

.l-relative {
  position: relative;
}

/*
* Absolute & Fixed
*
*/

.l-pinned {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-1;
}

.l-pinned-desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-1;

  &.is-bottom {
    top: auto;
  }
}

.l-shifted-top {
  margin-top: -($unit * 6);

  @include respond-to('mobile') {
    margin-top: auto;
  }
}

/*
* Padding & Margins
*
*/

@for $i from 1 through 50 {
  .l-pad-#{$i} { padding: $unit * $i;}
  .l-pad-left-#{$i} { padding-left: $unit * $i;}
  .l-pad-right-#{$i} { padding-right: $unit * $i;}
  .l-pad-top-#{$i} { padding-top: $unit * $i;}
  .l-pad-bottom-#{$i} { padding-bottom: $unit * $i;}
  .l-pad-vertical-#{$i} { padding-top: $unit * $i; padding-bottom: $unit * $i;}
  .l-pad-horizontal-#{$i} { padding-left: $unit * $i; padding-right: $unit * $i;}
  .l-space-#{$i} { margin: $unit * $i;}
  .l-space-left-#{$i} { margin-left: $unit * $i;}
  .l-space-right-#{$i} { margin-right: $unit * $i;}
  .l-space-top-#{$i} { margin-top: $unit * $i;}
  .l-space-bottom-#{$i} { margin-bottom: $unit * $i;}
  .l-space-vertical-#{$i} { margin-top: $unit * $i; margin-bottom: $unit * $i;}
  .l-space-horizontal-#{$i} { margin-left: $unit * $i; margin-right: $unit * $i;}

  @include respond-to('mobile') {
    .l-pad-#{$i} { padding: $unit * $i/2;}
    .l-pad-left-#{$i} { padding-left: $unit * $i/2;}
    .l-pad-right-#{$i} { padding-right: $unit * $i/2;}
    .l-pad-top-#{$i} { padding-top: $unit * $i/2;}
    .l-pad-bottom-#{$i} { padding-bottom: $unit * $i/2;}
    .l-pad-vertical-#{$i} { padding-top: $unit * $i/2; padding-bottom: $unit * $i/2;}
    .l-pad-horizontal-#{$i} { padding-left: $unit * $i/2; padding-right: $unit * $i/2;}
    .l-space-#{$i} { margin: $unit * $i/2;}
    .l-space-left-#{$i} { margin-left: $unit * $i/2;}
    .l-space-right-#{$i} { margin-right: $unit * $i/2;}
    .l-space-top-#{$i} { margin-top: $unit * $i/2;}
    .l-space-bottom-#{$i} { margin-bottom: $unit * $i/2;}
    .l-space-vertical-#{$i} { margin-top: $unit * $i/2; margin-bottom: $unit * $i/2;}
    .l-space-horizontal-#{$i} { margin-left: $unit * $i/2; margin-right: $unit * $i/2;}
  }
}