/*
* Basic Defaults
*
*/


$unit: 8px;

$font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/*
* Breakpoints
*
*/

$phone-breakpoint: 480px !default;
$mobile-breakpoint: 800px !default;
$tablet-breakpoint: 1200px !default;
$desktop-breakpoint: 1400px !default;

/*
* Brand Colors
*
*/

$color-light: #FFF;
$color-dark: #000;

$color-subtle: #EDF0F2;
$color-tint: #FCFCFD;
$color-space: #0C1D31;

$color-primary: #233591;
$color-primary-light: #6F81CC;
$color-primary-dark: #233591;

$color-accent: #00BFA5;
$color-accent-light: #E6F4F4;
$color-accent-dark: #008A7E;


/*
* Secondary Colors
*
*/

$color-terminal: #28FE14;
$color-plum: #1e3c72;
$color-steel: #455A64;

/*
* Highlight Colors
*
*/

$color-warning: #FF9100;
$color-error: #F50057;
$color-success: #00E676;
$color-link: #039BE5;



/*
* Z Indexes
*
*/

$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;

$z-max-1: 1000;
$z-max-2: 2000;
$z-max-3: 3000;
$z-max-4: 4000;
$z-max-5: 5000;

