@import "base/defaults";
@import "base/mixins";
@import "base/type";
@import "layout/grid";
@import "layout/layout";

// overrides 
@import "theme";
@import "theme-nav";
@import "theme-admonition";

img[src$="grv-image-center-md"] {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

img[src$="grv-image-center-md"] {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

img[src$="grv-image-center-lg"] {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.grv-nav-versions {
  .grv-ver {
    padding-left: 5px;
  }
  .grv-current-ver {
    color: #ffa258;
    display: inline-block;
    padding: 5px;
  }
}

.grv-footer {  
  background-color: #f0f1f8;
  max-width: 1020px;
  color: #6f6f6f;
  padding: 0;
  display: block;
  font-size: 13px;
  margin-bottom: 0 !important;

  max-width: 1000px;  
  flex-wrap: wrap;
  
  .footer-item {        
    padding: 15px 15px 10px 15px;
    border-right: 1px solid #dadaea;    
    margin: 0 !important;
    min-height: 170px;
    min-width: 200px;
    
    @include respond-to('mobile') {
      width: 100%;
      border: none;
      border-bottom: 1px solid #dadaea;
    }

    &:nth-child(3) {      
      background: url(../img/bridge.svg) no-repeat center;
      background-size: contain;
    }

    &:last-child {
      border-right: 0;
    }
          
    p {
      line-height: 25px;
      font-size: 13px;
      margin: 0;
    }
              
    img.footer-talk {
      width: 70px;
      position: relative;        
      opacity: .3;
    }  

  }  
}
