// /*
// * BASE
// *
// */

@import "defaults";
// @import "mixins"

h1 {
  position: relative;
}

.version-selector {
  bottom: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  z-index: 1;

  select {
    margin-top: $unit;
    position: absolute;
    text-transform: none;
  }
}

