
$second_level_padding: 30px;
$third_level_padding: 50px;


div[role=navigation] hr {
  margin: 10px 0px
}

/* Navigation Left Panel Overrides
  -------------------------------------------------------------- */

/* Navigation Search Overrides
-------------------------------------------------------------- */
.wy-side-nav-search {
  z-index: 200;
  background-color: $color-bkg-5;
  text-align: center;
  padding: 0.809em;
  display: block;
  color: $color-font-10;
  margin-bottom: 10px;

  h3 {
    margin: 0 0;
    color: $color-font-4;
    width: 100%
  }

  input[type=text] {
    width: 100%;
    border-radius: 0px;
    padding: 6px 12px;
    border-color: $color-border-2;
    box-shadow: none;
  }

  img {
    display: block;
    margin: auto;
    height: 60px;
    width: 180px;
    background-color: transparent;
    padding: 5px;
    border-radius: 0px;
  }

  >a, .wy-dropdown>a {
    color: inherit;
    font-size: 100%;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0;

    &:hover {
      background: $color-bkg-6;
    }
  }
}

@mixin make-active() {    
  font-weight: bold;                        
  &:before {
    margin-left: -10px;
    margin-right: 5px;
    font-family: "FontAwesome";
    content: "\f105";
  }      
}

.wy-menu-vertical {

  ul,ol,dl {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none
  }

  li {
     list-style: none
  }
  
  li ul {
    display: inherit;
  }

  li ul.subnav ul.subnav{
    padding-left: 1em;
  }

  .toctree-l3 , .toctree-l1, .toctree-l4{
    a:hover{
      background: $color-bkg-7;
    }
  }
  
  .grv-nav-left-item{
    border-top: 1px solid $color-border-4;
  }

  ul {
    margin-bottom: 0;
    display: block;
    background: $color-bkg-5;

    /* top-level menu */    
    .grv-nav-left-item-l1 {
      padding: 12px 15px;
      font-weight: bold;      
      color: $color-font-13;      
      width: 100%;
      display: inline-block;      
    }

    .grv-nav-left-item.--downloads{
      &.current a {
        @include make-active();    
      }

      a {
        color: inherit;
        padding-left: $second_level_padding;
      }
    }
    
    li {        
      ul {
        margin-bottom: 0;

        li a {
          margin-bottom: 0;          
          font-weight: normal;
        }
      }
      
      &.active a {
        background: $color-bkg-8;
      }

      &.toctree-l1 {

        &.current > a:after {
          font-family: "FontAwesome";
          content: "\f105";
        }

        >a {
          padding-left: $second_level_padding;
          background-color: $color-bkg-5;          
          &:after {
            font-weight: bold;
            font-family: "FontAwesome";
            float: right;
            content: '\f107';
            margin-right: 6px;
          }
        }
      }
                
      &.current {
        background: $color-bkg-9;        
        a {          
          border-right: none;
          padding-left: $third_level_padding;

          &.--active{
            @include make-active();
          }
                            
          &.current {   
            position: relative;            
            border: none;            
            padding: 8px 15px 8px $second_level_padding;          
          }
        }

        ul {
          display: block
        }
      }

      &.on a {
        color: $color-font-4;
        position: relative;
        background: $color-bkg-10;
        border: none;
        border-bottom: solid 1px $color-border-4;
        padding: 8px 15px;

        &:hover {
          background: $color-bkg-10;
        }
      }

      /* 3rd level */
      &.toctree-l4 a {
        padding-left: 3.5em;        
      }
      .toctree-l1.current ul {
        background-color: $color-bkg-11;
      }

      &.toctree-l2.current>a {
        background: $color-bkg-5;
      }
    }

    a {
      padding: 8px 15px;
      display: block;
      &:hover {
        background: $color-bkg-8;
      }
    }
  }

  .local-toc li ul {
    display: block
  }

  a {
    display: inline-block;
    line-height: 28px;
    display: block;
    position: relative;
    font-size: 100%;    
    color: $color-font-5;
    
    &:hover {
      text-decoration: none;
      background-color: $color-bkg-7;
      cursor: pointer
    }
    &:active {
      text-decoration: none;      
      cursor: pointer;      
    }
  }
}

