
$second_level_padding: 10px;
$third_level_padding: 25px;
$itemVertSpacing: 8px;

.grv-nav-search {    
  text-align: center;
  padding: 0.809em;
  display: block;
  color: $color-font-10;
  margin-bottom: 10px;

  h3 {
    margin: 0 0;
    color: $color-font-4;
    width: 100%
  }

  input[type=text] {
    width: 100%;
    border-radius: 0px;
    padding: 6px 12px;
    border-color: $color-border-2;
    box-shadow: none;
  }

  img {
    display: block;
    margin: auto;
    height: 60px;
    width: 180px;
    background-color: transparent;
    padding: 5px;
    border-radius: 0px;
  }    

  >a, .wy-dropdown>a {
    color: inherit;
    font-size: 100%;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0;

    &:hover {
      background: $color-bkg-6;
    }
  }
}

/* Navigation Left Panel
  -------------------------------------------------------------- */
@mixin make-active() {    
  font-weight: bold;                        
  &:before {
    margin-left: -10px;
    margin-right: 5px;
    font-family: "FontAwesome";
    content: "\f105";
  }      
}

.grv-nav-left{
  font-size: 14px;
  
  .grv-nav-left-item-header > span {    
    display: block;
    padding-top: $itemVertSpacing;
    padding-bottom: $itemVertSpacing;
  }

  a {    
    display: block;
    position: relative;    
    padding-top: $itemVertSpacing;
    padding-bottom: $itemVertSpacing;

    color: $color-font-5;    
    &:hover, &:active, &:focus {
      text-decoration: none;  
    }    

    &.--active{
      @include make-active();
    }
  }
      
  .grv-nav-left-item, .grv-nav-left-item-header{
    border-top: 1px solid $color-border-4;    
    padding-right: 15px;
    font-weight: normal;
    padding-left: 1em;

    &:hover {      
      background-color: $color-bkg-8;
      cursor: pointer
    }

    &:active {      
      cursor: pointer;      
    }    
  }
  
  .grv-nav-left-level-1{
    padding: 0;
    
    > .grv-nav-left-item-header:first-child{            
      color: $color-font-13;      
      font-weight: bold;      
      width: 100%;
      display: inline-block;      

      &:hover {
        cursor: initial;
        background-color: initial;
      }
    }    
  }  
  
  .grv-nav-left-level-2{    
    a {
      padding-left: $second_level_padding;
    }

    > .grv-nav-left-item-header{
      a:after {
        font-weight: bold;
        font-family: "FontAwesome";
        float: right;
        content: '\f107';
        margin-right: 6px;
      }
    }

    &.current > .grv-nav-left-item-header{
        a:after {
        font-family: "FontAwesome";
        content: "\f105";
      }     
    }
            
    .grv-nav-left-level-3 {      
      background-color: $color-bkg-11;
      a {
        padding-left: $third_level_padding;
      }
    }     
        
    // items with releases
    .grv-nav-left-item-header.--downloads{
      a {        
        &:after{
          content: '';
        }
      }      

      &.current a {
        @include make-active();    
        &:after{
          content: '';
        }
      }           
    }
  }       
}