
$top-menu-height: 92px;
$max-width: 1100px;
$content-padding-left: 330px;

#grv-docs-top-menu{
  height: $top-menu-height;
  @include respond-to('mobile') {
    height: initial;
  }
}

.grv-nav-top{   
  width: 100%;
  position: relative;  
}
 
.--mobile-nav-open{

  &.grv-docs {
    display: block;
    overflow: auto;
  }

  .grv-content {
    // fixes scrolling when menu is visible
    height: initial;
  }

  .grv-content-nav{
    display: block;    
    position: static;
    height: 100%;        
    .grv-content-nav-body{
      width: 100%;
    }

  }
  .grv-content-body{
    display: none;
  }      
}

.grv-content-nav {  
  position: absolute;
  height: calc(100% - #{$top-menu-height});
  overflow-y: auto;
  overflow-x: auto;
  background-color: $color-bkg-10;           
  display: flex;
  flex-direction: column;  
  left: calc((100% - #{$max-width})/2 + 20px);
  
  .grv-content-nav-body{
    overflow: auto;
    width: 300px;
  }
}

.--fixed-left-nav {
  .grv-content-nav {
    position: fixed;
    top: 0;
    height: calc(100% - 0px);    
  }
}