
$top-menu-height: 92px;
$max-width: 1100px;

#grv-docs-top-menu{
  height: $top-menu-height;
  @include respond-to('mobile') {
    height: initial;
  }
}

.grv-nav-top{   
  width: 100%;
  position: relative;  
}
 
.--mobile-nav-open{

  &.grv-docs {
    display: block;
    overflow: auto;
  }

  .grv-content {
    // fixes scrolling when menu is visible
    height: initial;
  }

  .grv-content-nav{
    display: block;    
    position: static;
    height: 100%;        
    .grv-content-nav-body{
      width: 100%;
    }

  }
  .grv-content-body{
    display: none;
  }      
}
