.wy-body-for-nav {
  background-image: none;
  background: left repeat-y #fcfcfc; 
  background-size: 300px 1px
}

.wy-grid-for-nav {
  position: absolute;
  width: 100%;
  height: 100%
}

.wy-nav-side {
  height: 100%;
  overflow-y: auto;
  background-color: $color-bkg-5;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;  
  min-height: 100%;
  z-index: 200
}

.wy-nav-top {
  display: none;
  background: $color-bkg-13;
  color: #fff;
  padding: 0.4045em 0.809em;
  position: relative;
  line-height: 50px;
  text-align: center;
  font-size: 100%;
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: ""
  }
  &:after {
    clear: both
  }
  a {
    color: #fff;
    font-weight: bold
  }
  
  img {
    margin-right: 12px;
    height: 45px;
    width: 45px;
    background-color: #2980B9;
    padding: 5px;
    border-radius: 100%
  }
  i {
    font-size: 30px;
    float: left;
    cursor: pointer
  }
}

.wy-nav-content-wrap {
  margin-left: 300px;
  background: #fcfcfc;
  min-height: 100%;

  .wy-nav-top a:visited {
    color: $color-bkg-5;
  }
}

.wy-nav-content {
  padding: 1.618em 3.236em;
  height: 100%;
  max-width: 800px;
  margin: auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  margin: 0 !important;
  background-color: $color-bkg-5 !important;
}

nav.stickynav {
  position: fixed;
  top: 0
}

#search-results {
  .search {
    li {
      margin-bottom: 24px;
      border-bottom: solid 1px #e1e4e5;
      padding-bottom: 24px
    }
    
    li:first-child {
      border-top: solid 1px #e1e4e5;
      padding-top: 24px
    }
    
    li a {
      font-size: 120%;
      margin-bottom: 12px;
      display: inline-block
    }
  }
    
  .context {
    color: gray;
    font-size: 90%
  }
}

@media screen and (max-width: 768px) {
  .wy-body-for-nav {
      background: #fcfcfc
  }
  .wy-nav-top {
      display: block
  }
  .wy-nav-side {
      left: -300px
  }
  .wy-nav-side.shift {
      width: 85%;
      left: 0
  }
  .wy-nav-content-wrap {
      margin-left: 0
  }
  .wy-nav-content-wrap .wy-nav-content {
      padding: 1.618em
  }
  .wy-nav-content-wrap.shift {
      position: fixed;
      min-width: 100%;
      left: 85%;
      top: 0;
      height: 100%;
      overflow: hidden
  }
}

@media screen and (min-width: 1400px) {
  .wy-nav-content-wrap {
    background: #fcfcfc;
  }
  .wy-nav-content {
      margin: 0;
      background: #fcfcfc
  }
}
