.admonition {
  border-radius: 4px;

  p.admonition-title {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  code {
    color: $color-font-2;
    border: 1px solid #00000033;
    background: $color-bkg-2;
  }

  &.warning {
    .admonition-title {
      background-color: $color-font-1;
    }
  }

  &.danger {
    color: $color-font-3;
    .admonition-title {
      background-color: $color-bkg-14;
    }
  }
  
  &.tip {
    background-color: $color-bkg-4;
  
    p.admonition-title {
      background-color: $color-bkg-3;
    }
  }
}
