.float-right{
  float: right;
}

img[src$="grv-image-center-md"] {
  width: auto;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

img[src$="grv-image-center-lg"] {
  width: auto;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

/*
* FLEX BOX GRID
*
*/

.l-flex {
  display: flex;

  @include respond-to('mobile') {
    display: block;
  }
}

.l-flex-fullscreen {
  display: flex;
  align-items: stretch;
}

.l-flex-justify {
  display: flex;
  justify-content: space-between;
}

.l-flex-dir-col {
  flex-direction: column;  
}

.l-flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;

  .col-1 {
    text-align: center;
  }

  @include respond-to('mobile') {
    display: block;
  }
}

.l-flex-wrap {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

/*
* Flex columns
*
*/

@for $i from 1 through 12 {
    
  .col-#{$i} {
    box-sizing: border-box;
    flex: $i;
    margin-left: $unit * 2;
    margin-right: $unit * 2;

    @include respond-to('mobile') {
      flex: none;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: $unit ;
      width: 100%;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &.no-margin {
      margin: 0;
    }
  }

  .col-fixed-#{$i} {
    box-sizing: border-box;
    flex: $i * ($unit * 10);
    max-width: $i * ($unit * 10);
    margin-left: $unit * 2;
    margin-right: $unit * 2;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &.no-margin {
      margin: 0;
    }
  }
}

/*
* Floats & clears
*
*/


.l-no-margins{
  margin: 0;
}

.l-left {
  float: left;
}

.l-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.l-right {
  float: right;
}

.clear {
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.l-overflow {
  overflow: auto;
}

.l-overflow-hidden {
  overflow: hidden;
}

.l-relative {
  position: relative;
}

/*
* Absolute & Fixed
*
*/

.l-pinned {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-1;
}

.l-pinned-desktop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-1;

  &.is-bottom {
    top: auto;
  }
}

.l-shifted-top {
  margin-top: -($unit * 6);

  @include respond-to('mobile') {
    margin-top: auto;
  }
}

/*
* Padding & Margins
*
*/

@for $i from 1 through 50 {
  .l-pad-#{$i} { padding: $unit * $i;}
  .l-pad-left-#{$i} { padding-left: $unit * $i;}
  .l-pad-right-#{$i} { padding-right: $unit * $i;}
  .l-pad-top-#{$i} { padding-top: $unit * $i;}
  .l-pad-bottom-#{$i} { padding-bottom: $unit * $i;}
  .l-pad-vertical-#{$i} { padding-top: $unit * $i; padding-bottom: $unit * $i;}
  .l-pad-horizontal-#{$i} { padding-left: $unit * $i; padding-right: $unit * $i;}
  .l-space-#{$i} { margin: $unit * $i;}
  .l-space-left-#{$i} { margin-left: $unit * $i;}
  .l-space-right-#{$i} { margin-right: $unit * $i;}
  .l-space-top-#{$i} { margin-top: $unit * $i;}
  .l-space-bottom-#{$i} { margin-bottom: $unit * $i;}
  .l-space-vertical-#{$i} { margin-top: $unit * $i; margin-bottom: $unit * $i;}
  .l-space-horizontal-#{$i} { margin-left: $unit * $i; margin-right: $unit * $i;}

  @include respond-to('mobile') {
    .l-pad-#{$i} { padding: $unit * $i/2;}
    .l-pad-left-#{$i} { padding-left: $unit * $i/2;}
    .l-pad-right-#{$i} { padding-right: $unit * $i/2;}
    .l-pad-top-#{$i} { padding-top: $unit * $i/2;}
    .l-pad-bottom-#{$i} { padding-bottom: $unit * $i/2;}
    .l-pad-vertical-#{$i} { padding-top: $unit * $i/2; padding-bottom: $unit * $i/2;}
    .l-pad-horizontal-#{$i} { padding-left: $unit * $i/2; padding-right: $unit * $i/2;}
    .l-space-#{$i} { margin: $unit * $i/2;}
    .l-space-left-#{$i} { margin-left: $unit * $i/2;}
    .l-space-right-#{$i} { margin-right: $unit * $i/2;}
    .l-space-top-#{$i} { margin-top: $unit * $i/2;}
    .l-space-bottom-#{$i} { margin-bottom: $unit * $i/2;}
    .l-space-vertical-#{$i} { margin-top: $unit * $i/2; margin-bottom: $unit * $i/2;}
    .l-space-horizontal-#{$i} { margin-left: $unit * $i/2; margin-right: $unit * $i/2;}
  }
}

/* MARGINS & PADDINGS */

.no-margins {
  margin: 0;
}

.p-xxs {
  padding: 5px;
}

.p-xs {
  padding: 10px;
}

.p-sm {
  padding: 15px;
}

.p-m {
  padding: 20px;
}

.p-md {
  padding: 25px;
}

.p-lg {
  padding: 30px;
}

.p-xl {
  padding: 40px;
}

.p-w-xs {
  padding: 0 10px;
}

.p-w-sm {
  padding: 0 15px;

}

.p-w-m {
  padding: 0 20px;

}

.p-w-md {
  padding: 0 25px;

}

.p-w-lg {
  padding: 0 30px;

}

.p-w-xl {
  padding: 0 40px;

}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-t-none {
  margin-top: 0;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-r-none {
  margin-right: 0;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.space-15 {
  margin: 15px 0;
}

.space-20 {
  margin: 20px 0;
}

.space-25 {
  margin: 25px 0;
}

.space-30 {
  margin: 30px 0;
}