/*
* Launch Pad Footer
*
*/


/*
* SETTINGS
*
*/

$unit: 8px !default;
$launchpad: '.launchpad';


.has-side-nav {
  #{$launchpad} {
    padding: ($unit * 4) 0 ($unit * 4) 0;
  }
}


/*
* Class
*
*/

#{$launchpad} {
  background: $color-space;
  color: $color-light;
  overflow: hidden;
  margin: 0;
  padding: ($unit * 10) ($unit * 10) ($unit * 4) ($unit * 10);

  @include respond-to('tablet') {
    padding: ($unit * 6) ($unit * 2) ($unit * 4) ($unit * 2);
  }

  @include respond-to('mobile') {
    margin: 0;
    padding: ($unit * 2) 0;
  }

  // TITLE
  h3 {
    border-bottom: 1px solid rgba($color-light, .12);
    color: $color-light;
    font-size: 14px;
    font-weight: 700;
    margin: 0 ($unit * 2) ($unit * 2) ($unit * 2);
    padding: 0 0 ($unit * 2) 0;
    text-transform: uppercase;

    @include respond-to('tablet') {
      margin: 0 0 ($unit * 2) 0;
    }

    @include respond-to('mobile') {
      margin: 0 0 $unit 0;
    }
  }

  // LIST OF LINKS
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include respond-to('mobile') {
      border-radius: 2px;
      margin: 0 0 ($unit * 4) 0;
      flex: none;
    }

    li {
      margin: 0 0 $unit 0;
      font-size: 14px;
      font-weight: 300;
      line-height: $unit * 4;

      &.has-icon {
        img {
          margin: 5px $unit 0 0;
          float: left;

          @include respond-to('mobile') {
            margin: ($unit +4) $unit 0 0;
          }
        }
      }
    }

    a {
      color: rgba($color-light, .87);
      display: block;
      font-weight: 300;
      line-height: $unit * 4;
      transition: all .3s;
      text-decoration: none;
      padding: 0 ($unit * 2);

      @include respond-to('tablet') {
        padding: 0;
      }

      @include respond-to('mobile') {
        background: rgba($color-light, .06);
        color: rgba($color-light, 1);
        line-height: $unit * 6;
        padding: 0 ($unit * 2);
      }

      &:hover {
        background: rgba($color-light, .06);
        color: rgba($color-light, 1);
      }
    }
  }
}


/*
* Site Footer
*
*/


/*
* SETTINGS
*
*/

$unit: 8px !default;
$footer: '.footer';


#{$footer} {
  background: $color-space;
  color: $color-light;
  margin: 0;
  padding: 0 ($unit * 10) ($unit * 4) ($unit * 10);

  @include respond-to('mobile') {
    padding: 0 0 ($unit * 4) 0;
  }

  &.is-transparent {
    background: none;
  }

  p {
    color: $color-light;
    font-size: 10px;
    line-height: $unit * 3;
    margin: 0;
    opacity: .56;
    text-align: center;
    text-transform: uppercase;
  }

  nav {
    text-align: center;
    text-transform: uppercase;
  }

  a {
    color: $color-light;
    font-size: 10px;
    line-height: $unit * 3;
    opacity: .56;
    transition: all .3s;

    &:hover, &:focus {
      opacity: 1;
    }
  }
}