/*
* Secondary Navigation Bar
*
*/


/*
* SETTINGS
*
*/

$unit: 8px !default;
$secondary-nav: '.secondary-nav';
$secondary-nav-height: $unit * 6;



/*
* Utility Class
*
* for use on the <body> tag to add padding to top of page.
*/
.has-secondary-nav {
  @include respond-to('mobile') {
    padding-top: $secondary-nav-height + ($unit * 9) - 1;
  }

  .grv-docs {
    padding-top: $secondary-nav-height + ($unit * 9) - 1;
  }

  .top-nav {
    box-shadow: none !important;
  }
}


/*
* Class
*
*/

#{$secondary-nav} {
  background: $color-light;
  height: $secondary-nav-height;
  padding-left: 200px;
  left: 0;
  opacity: .87;
  position: absolute;
  right: 0;
  top: $unit * 9;
  transition: all 1s;
  z-index: $z-max-1;

  // MOBILE STYLES
  @include respond-to('tablet') {
    padding-left: 176px;
  }

  @include respond-to('mobile') {
    background: $color-plum;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: $unit * 9;
    z-index: $z-max-1;

    svg {
      fill: $color-light;

      path, polyline, g {
        fill: $color-light;
      }
    }
  }

  // STATES AND DECORATORS
  &.is-raised {
    box-shadow: 0 4px 16px rgba(0, 0, 0, .24);
  }

  &.is-fixed {
    background: $color-plum;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .24);
    opacity: .95;
    position: fixed;

    @include respond-to('mobile') {
      opacity: 1;
    }

    #{$secondary-nav}-button {
      color: $color-light;

      @include respond-to('mobile') {
        color: $color-plum;
      }

      &:hover, &:focus {
        background: rgba($color-light, .12);
      }
    }

    svg {
      fill: $color-light;

      path, polyline, g {
        fill: $color-light;
      }
    }
  }

  h2 {
    font-size: 14px;
    font-weight: 500;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: $z-1;

    a {
      box-sizing: border-box;
      color: $color-space;
      display: block;
      height: $secondary-nav-height;
      line-height: $secondary-nav-height;
      text-decoration: none;
      padding: 0 ($unit * 4);
      width: 200px;

      @include respond-to('tablet') {
        width: 176px;
        padding: 0 ($unit * 2);
      }

      @include respond-to('mobile') {
        color: $color-light;
        padding: 0 ($unit * 2);
      }
    }

    svg {
      height: auto;
      padding: 12px 0;

      @include respond-to('mobile') {
        fill: $color-light;
      }
    }
  }


  // MOBILE TRIGGER AND CLOSE BUTTON
  #{$secondary-nav}-mobile-trigger,
  #{$secondary-nav}-mobile-close {
    background: none;
    border: none;
    box-sizing: border-box;
    color: $color-light;
    display: none;
    height: $secondary-nav-height;
    outline: none;
    padding: ($unit + 4) ($unit * 2);
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    &.is-hidden {
      display: none;
    }
  }

  #{$secondary-nav}-mobile-trigger {
    @include respond-to('mobile') {
      display: block;
    }
  }

  #{$secondary-nav}-menu {
    list-style-type: none;
    margin: 0 0 0 ($unit * 12);
    padding: 0;
    position: relative;

    @include respond-to('tablet') {
      margin: 0;
    }

    @include respond-to('mobile') {
      background: $color-plum;
      bottom: 0;
      display: none;
      left: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      right: 0;
      top: $secondary-nav-height + ($unit * 9);
      z-index: $z-2;
    }
  }

  #{$secondary-nav}-cta {
    float: right;
    height: $unit * 4;
    line-height: $unit * 4;
    margin: $unit;

    @include respond-to('mobile') {
      display: block;
      float: none;
      height: $unit * 6;
      line-height: $unit * 6;
      margin-top: $unit * 3;
      width: auto;
    }
  }

  #{$secondary-nav}-button {
    box-sizing: border-box;
    color: $color-space;
    display: block;
    float: left;
    font-size: 12px;
    line-height: $secondary-nav-height;
    padding: 0 $unit * 2;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;

    &:hover, &:focus {
      background: $color-subtle;
    }

    &.is-active {
      border-bottom: 4px solid $color-accent;
      font-weight: 600;
      height: $secondary-nav-height;
      line-height: $secondary-nav-height;
    }

    @include respond-to('mobile') {
      background: $color-light;
      color: $color-plum;
      float: none;
      display: block;
      margin: $unit $unit 0 $unit;

      &:hover, &:focus {
        color: $color-accent;
      }


      &.is-active {
        border-bottom: none;
        border-left: 4px solid $color-accent;
        padding: 0 ($unit * 2) 0 ($unit * 2 - 2);
      }
    }
  }
}