
$top-menu-height: 92px;
$max-width: 1200px;
/*
* Top Navigation Bar
*
*/


/*
* SETTINGS
*
*/

$unit: 8px !default;
$top-nav: '.top-nav';
$top-nav-height: $unit * 9;


/*
* Utility Class
*
* for use on the <body> tag to add padding to top of page.
*/

.has-top-nav {
  .grv-docs {
    padding-top: $top-nav-height;
  }

  @include respond-to('mobile') {
    padding-top: $top-nav-height;
  }
}


/*
* Class
*
*/

#{$top-nav} {
  color: $color-light;
  height: $top-nav-height;
  left: 0;
  padding-left: 200px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z-max-2;

  // MOBILE STYLES
  @include respond-to('tablet') {
    padding-left: 176px;
  }

  @include respond-to('mobile') {
    background: $color-light;
    box-shadow: 0 0 16px rgba(0, 0, 0, .12);
    position: fixed;
  }

  // DECORATOR STATES
  &.is-dark {
    background: $color-plum;
    background-image: radial-gradient( circle farthest-corner at 1.8% 4.8%,  rgba(17,23,58,1) 0%, rgba(58,85,148,1) 90% );
    box-shadow: 0 4px 8px rgba(0, 0, 0, .24);

    @include respond-to('mobile') {
      background: $color-light;
    }
  }

  &.is-fixed {
    background: $color-light;
    box-shadow: 0 0 16px rgba(0, 0, 0, .12);
    color: $color-space;
    height: $top-nav-height;
    opacity: .95;
    position: fixed;

    @include respond-to('mobile') {
      opacity: 1;
      position: fixed;
      z-index: $z-max-2;
    }

    #{$top-nav}-home {
      color: $color-plum;
    }

    #{$top-nav}-cta.button-inverse {
      color: rgba($color-space, .56);
      border: 1px solid rgba($color-space, .56);

      @include respond-to('mobile') {
        border: 1px solid rgba($color-light, .56);
        color: $color-light;
      }
    }

    #{$top-nav}-button #{$top-nav}-expand-icon,
    #{$top-nav}-button #{$top-nav}-retract-icon  {
      color: rgba($color-space, .12);
    }

    #{$top-nav}-button {
      color: rgba($color-space, .56);

      &:hover, &:focus {
        background: $color-subtle;
        color: $color-space;
      }

      @include respond-to('mobile') {
        color: $color-light;

        &:hover, &:focus {
          background: $color-light;
        }
      }
    }
  }


  /*
  * MAIN NAV MOBILE TRIGGER AND CLOSE BUTTON
  *
  */

  #{$top-nav}-mobile-trigger,
  #{$top-nav}-mobile-close {
    background: none;
    border: none;
    box-sizing: border-box;
    color: $color-plum;
    display: none;
    height: $top-nav-height;
    outline: none;
    padding: $unit * 2;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;

    &.is-hidden {
      display: none;
    }
  }

  #{$top-nav}-mobile-trigger {
    @include respond-to('mobile') {
      display: block;
    }
  }


  /*
  * MAIN NAV HOME
  *
  */

  #{$top-nav}-home {
    color: $color-light;
    display: block;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    line-height: $top-nav-height;
    margin: 0;
    padding: 0 ($unit * 4);
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    top: 0;
    transition: all .3s;
    z-index: $z-1;

    &:hover, &:focus {
      background: rgba($color-light, .06);
    }

    @include respond-to('tablet') {
      padding: 0 ($unit * 2);
    }

    @include respond-to('mobile') {
      color: $color-plum;
      padding: 0 ($unit * 2);
    }
  }

  /*
  * MAIN MENU BUTTONS
  *
  */

  #{$top-nav}-menu {
    list-style-type: none;
    margin: 0 0 0 ($unit * 12);
    padding: 0;
    position: relative;

    @include respond-to('tablet') {
      margin: 0;
    }

    @include respond-to('mobile') {
      background: $color-plum;
      bottom: 0;
      display: none;
      left: 0;
      margin: 0;
      overflow: auto;
      padding: $unit;
      position: fixed;
      right: 0;
      top: $top-nav-height;
      z-index: $z-max-2;
    }
  }


  /*
  * BUTTON
  *
  */

  #{$top-nav}-button {
    border: none;
    box-sizing: border-box;
    color: $color-light;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    float: left;
    line-height: $top-nav-height;
    outline: none;
    padding: 0 ($unit * 2);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;

    // MOBILE STYLES
    @include respond-to('tablet') {
      font-size: 12px;
      padding: 0 $unit;
    }

    @include respond-to('mobile') {
      background: rgba($color-light, .06);
      margin: $unit $unit 0 $unit;
      float: none;
      font-size: 14px;
      display: block;
      margin: 0 0 $unit 0;
      text-align: left;
      width: 100%;
    }

    // STATES AND DECORATORS
    &:hover, &:focus {
      background: rgba($color-light, .06);
    }

    &.has-dropdown {
      padding-right: $unit * 6;

      @include respond-to('mobile') {
        padding: 0 ($unit * 2);
      }

      @include respond-to('tablet') {
        padding-right: $unit * 4;
      }
    }

    &.is-active {
      background: $color-light;
      color: $color-space;
      transition: none;

      #{$top-nav}-expand-icon {
        color: rgba($color-space, .56);
        display: block;
      }

      @include respond-to('mobile') {
        line-height: auto;

        #{$top-nav}-expand-icon {
          display: none;
        }

        #{$top-nav}-retract-icon {
          display: block;
        }
      }

      > strong {
        @include respond-to('mobile') {
          display: block;
          line-height: $unit * 7;
          border-bottom: 1px solid rgba($color-dark, .24);
        }
      }
    }

    > strong {
      font-weight: 400;
    }

    /*
    * ARROWS
    *
    */

    #{$top-nav}-expand-icon,
    #{$top-nav}-retract-icon {
      display: none;
      position: absolute;
      right: $unit * 2;
      top: $unit * 3;
      z-index: $z-1;

      @include respond-to('tablet') {
        right: $unit;
      }
    }

    #{$top-nav}-expand-icon {
      color: rgba($color-light, .24);
      display: block;
    }

    #{$top-nav}-retract-icon {
      color: rgba($color-space, .24);
    }
  }


  /*
  * MAIN NAV CTA
  *
  */

  #{$top-nav}-cta {
    box-sizing: border-box;
    float: right;
    height:  $unit * 5;
    line-height:  $unit * 5;
    margin: ($unit * 2) ($unit * 2) ($unit * 2) 0;
    width: $unit * 22;

    &.button-inverse {
      border: 1px solid rgba($color-light, .24);

      &:hover, &:focus {
        border: 1px solid rgba($color-light, .87);
      }
    }

    @include respond-to('tablet') {
      font-size: 11px;
      padding: 0 ($unit);
      width: auto;
    }

    @include respond-to('mobile') {
      float: none;
      font-size: 14px;
      display: block;
      height: $unit * 6;
      line-height: $unit * 6;
      margin: ($unit * 2) 0 0 0;
      width: auto;
    }
  }


  /*
  * MAIN NAV DROPDOWN MENUS
  *
  */

  #{$top-nav}-dropdown-overlay {
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    top: 0;
    z-index: $z-max-1;

    &.is-hidden {
      display: none;
    }

    @include respond-to('mobile') {
      display: none;
    }
  }

  #{$top-nav}-dropdown {
    background: $color-light;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 20px 16px rgba(0, 0, 0, .24);
    color: $color-dark;
    display: block;
    left: 0;
    list-style-type: none;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    width: 400px;
    z-index: $z-max-2;

    @include respond-to('mobile') {
      margin-top: 0;
      border-radius: 0;
      position: relative;
      left: 0;
      box-shadow: none;
      width: 100%;
    }

    &.is-hidden {
      display: none;
    }

    li {
      border-bottom: 1px solid $color-subtle;
      margin: 0;
      font-size: 14px;

      &:last-child {
        border: none;
      }
    }

    a {
      display: block;
      line-height: $unit * 3;
      padding: ($unit * 3) ($unit * 2);
      text-align: left;
      text-decoration: none;
      transition: all .3s;

      @include respond-to('mobile') {
        padding: ($unit * 2) 0;
      }

      &:hover, &:focus {
        background: rgba($color-link, .06);

        strong, em {
          color: $color-link;
        }
      }

      &.has-logo-gravity {
        background: url('/gravitational/images/logos/logo-gravity.svg') ($unit * 2) ($unit * 3) no-repeat;
        padding-left: $unit * 13;

        &:hover, &:focus {
          background: rgba($color-link, .06) url('/gravitational/images/logos/logo-gravity.svg') ($unit * 2) ($unit * 3) no-repeat;

          @include respond-to('mobile') {
            background: none;
            padding: ($unit * 2) 0;
          }
        }

        @include respond-to('mobile') {
          background: none;
          padding: ($unit * 2) 0;
        }
      }

      &.has-logo-teleport {
        background: url('/gravitational/images/logos/logo-teleport.svg') ($unit * 2) ($unit * 3) no-repeat;
        padding-left: $unit * 13;

        &:hover, &:focus {
          background: rgba($color-link, .06) url('/gravitational/images/logos/logo-teleport.svg') ($unit * 2) ($unit * 3) no-repeat;

          @include respond-to('mobile') {
            background: none;
            padding: ($unit * 2) 0;
          }
        }

        @include respond-to('mobile') {
          background: none;
          padding: ($unit * 2) 0;
        }
      }
    }

    strong, em {
      color: $color-space;
      transition: all .3s;
    }

    strong {
      font-weight: bold;
      display: block;
      text-transform: uppercase;
    }

    em {
      font-style: normal;
      line-height: 20px;
      margin: 0;
      text-transform: none;
    }
  }
}