ANTITHESIS_TENANT=example
ANTITHESIS_LAUNCHER=example
ANTITHESIS_DURATION=60
ANTITHESIS_RECIPIENTS=

NETRC_FILE=custom.netrc
REGISTRY=example.foobar.pkg.dev/example/repository
PLATFORMS=linux/amd64,linux/arm64
BUILDER=lima-multiarch
