[Unit]
Description=Service checking if teleport cert has been updated
ConditionPathExists=/etc/teleport.d/use-letsencrypt

[Service]
Type=oneshot
User=root
Group=adm
ExecStart=/usr/local/bin/teleport-check-cert