[Unit]
Description=Timer rotating teleport certificates
ConditionPathExists=/etc/teleport.d/use-letsencrypt

[Timer]
OnBootSec=20min
OnCalendar=hourly
Persistent=true