CT_CONFIG_VERSION="4"
CT_OBSOLETE=y
CT_LOCAL_TARBALLS_DIR="${THIRDPARTY_DLDIR}"
CT_WORK_DIR="${CT_TOP_DIR}/build"
CT_PREFIX_DIR="${THIRDPARTY_HOST_PREFIX}/${CT_TARGET}"
# CT_PREFIX_DIR_RO is not set
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
CT_LINUX_V_6_2=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_17=y
CT_CC_LANG_CXX=y
CT_COMP_LIBS_LIBELF=y
