
.grv-settings-empty{
  min-height: 50px;
  margin: 0px auto;
  max-width: 600px;
}

.grv-settings-res-editor{
  .grv-alert-danger, .grv-alert-info {
    padding: 5px 10px;
  }

  .ace_editor {
    font-size: 10pt;
  }
}

@include withMonoFont(".grv-settings-res-editor .ace_editor");