.grv-dialog{
  .grv-dialog-content-header{
    padding: 10px;
  }
}

.grv-dialog-md{
  .modal-dialog{
    max-width: 550px;
  }
}

.grv-dialog-sm{
  .modal-dialog{
    max-width: 450px;    
  }
}

.grv-dialog-no-body{
  .modal-header {
    border: none;
  }
}

.grv-dialog-confirm{    
  .grv-dialog-confirm-header {
    padding: 5px 5px;
    display: flex;
    text-align: left;
    

    h3{
      line-height: initial;
      margin-top: 2px;
    }
  }
}

.grv-dialog-license-status{
   @extend .grv-dialog-confirm;
   background-color: #7F7F7F;
   min-height: 200px;

   &.--error {
    .grv-dialog-license-status-icon {
      color: $red;
    }

    .grv-dialog-license-status-button{
      @extend .btn-danger;
    }    
   }

   &.--warning {
    .grv-dialog-license-status-icon {
      color: $yellow;
    }

    .grv-dialog-license-status-button{
      @extend .btn-warning;
    }    
   }

   &.--info {
    .grv-dialog-license-status-icon {
      color: $navy;
    }

    .grv-dialog-license-status-button{
      @extend .btn-info;
    }    
   }

}
