
.grv-settings-res-list {
  width: 220px;
  display: flex;
  flex-direction: column;

  .grv-settings-res-new {
    max-width: 150px;
    align-self: flex-end;
  }

  .grv-settings-res-list-body{
    flex-direction: column;
    overflow: auto;
    flex: 1;
    border: 1px solid #eee;
  }

  .grv-settings-res-list-content {
    margin: 0;
    margin-left: -2px;
    padding: 0;
    list-style: none;

    .grv-settings-res-list-content-item {
      border-bottom: 1px solid #eee;
      display: block;

      &.active {
        background-color: #f0f0f0;

        a {
          color: $gray-base;
        }
      }

      &:hover:not(.active) {
        color: #5b5d5f;
        background-color: #f9f9f9
      }

      .fa {
        margin-right: 10px;
      }

      a {
        color: #676a6c;
        display: block;
        padding: 5px 10px;
        position: relative;
        word-break: break-all;
        white-space:nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        overflow: hidden;
      }
    }
  }
}