.grv-settings-auth{
  max-width: 1400px;
  margin: 0 auto;

  .grv-settings-auth-connector-item{  
    &:last-child{
      margin-bottom: 0;    
    }

    table{
      width: 100%;
      
      tr td{
        border: none;
        padding: 5px 0;
        vertical-align: baseline;
      }
    }

    .ace_emptyMessage{
      white-space: pre;
    }

    .grv-settings-json-editor{
      position: relative;
      border: 1px solid;  
      border-color: $border-color;

      position: relative;
      display: block;
      width: 100%;
      min-height: 180px;
    }
    
  }
}

