# proxy host is the hostname of the target teleport cluster.
export PROXY_HOST="<proxy-hostname>"

# proxy port is the port of the teleport web api (typically 443 or 3080).
export PROXY_PORT="443"

# bot token is the join token that tbot will use to authenticate to the teleport
# cluster. the provided token *must* have the requisite roles to allow for ssh
# server access.
export BOT_TOKEN="<tbot-join-token>"

# bot user is the local user that the bot service should run at, and determines
# the ownership of the credentials and sockets created in /opt/machine-id. this
# must match the user that will be running the ssh load generation.
export BOT_USER="$USER"

# teleport artifact is the target artifact from which teleport binaries will be
# installed.
export TELEPORT_ARTIFACT="teleport-v17.0.0-alpha.4-linux-amd64-bin.tar.gz"

# teleport CDN should likely be one of cdn.cloud.gravitational.io or cdn.teleport.dev,
# the staging and prod cdns respectively.
export TELEPORT_CDN="cdn.cloud.gravitational.io"

