etcd/certs/*.pem

teleport/oidc.yaml
k8s/*certificate*.yaml
k8s/tls.yaml

k8s/secrets/**
!k8s/secrets/Makefile
**/*-gen*.yaml

**/profiles/**

**/.terraform
**/.terraform.lock*
**/terraform.tfstate*
**/terraform.tfvars

.secrets

control-plane/vars.env

# Rendered templates
*.rendered.*