# This file contains definitions for resources required to allow a GitHub
# Actions workflow to enroll with Teleport and connect to allowed Kubernetes
# clusters protected by Teleport.

# See the Teleport Terraform Provider docs for more information about using
# Terraform to manage Teleport resources:
# https://goteleport.com/docs/zero-trust-access/infrastructure-as-code/terraform-provider/

# A role defines which Kubernetes clusters can be accessed, and the level of
# access granted. Fine tune the access using the `kubernetes_*` attributes.
# All available options can be found in the Teleport Terraform Provider
# reference:
# https://goteleport.com/docs/reference/infrastructure-as-code/terraform-provider/
%[1]s
# A bot is a Machine & Workload ID user which is granted access to enrolled
# Kubernetes clusters using the role above.
%[2]s
# A provision token allows a GitHub Actions workflow to enroll with Teleport and
# assume the identity of the bot defined above and its access.
%[3]s
%[4]s
