<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BuildMachineOSBuild</key>
		<string>21D49</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>tsh</string>
		<key>CFBundleIdentifier</key>
		<string>com.goteleport.tshdev</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>tsh</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>17.3.1</string>
		<key>CFBundleSupportedPlatforms</key>
		<array>
			<string>MacOSX</string>
		</array>
		<key>CFBundleVersion</key>
		<string>17.3.1</string>
		<key>DTCompiler</key>
		<string>com.apple.compilers.llvm.clang.1_0</string>
		<key>DTPlatformBuild</key>
		<string>13C100</string>
		<key>DTPlatformName</key>
		<string>macosx</string>
		<key>DTPlatformVersion</key>
		<string>11.0</string>
		<key>DTSDKBuild</key>
		<string>21C46</string>
		<key>DTSDKName</key>
		<string>macosx11.0</string>
		<key>DTXcode</key>
		<string>1321</string>
		<key>DTXcodeBuild</key>
		<string>13C100</string>
		<key>LSMinimumSystemVersion</key>
		<string>11.0.0</string>
		<key>NSHumanReadableCopyright</key>
		<string/>
		<key>NSMainStoryboardFile</key>
		<string>Main</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
	</dict>
</plist>
