[Unit]
Description=Service getting teleport certificates

[Service]
Type=oneshot
ExecStartPre=/usr/bin/teleport-lock
ExecStart=/usr/bin/teleport-get-cert
