[Unit]
Description=Timer rotating teleport tokens in SSM
ConditionPathExists=/etc/teleport.d/role.auth

[Timer]
OnBootSec=5min
OnCalendar=hourly
Persistent=true
